[2015-11-29 16:44] Josebaseba opened #1 "Some info please?"
Hi @tjwebb, I found this project in [a comment](http://www.smashingmagazine.com/2015/11/sailing-sails-js-mvc-style-framework-node-js/#comment-1285615) of this [article](http://www.smashingmagazine.com/2015/11/sailing-sails-js-mvc-style-framework-node-js/).

Can I ask about what's going on here? Is this project a new Framework like Sails but trying to follow a more modular (or pluggable) solution?

[2015-11-30 01:28] niallobrien commented on #1
Ha, I've already commented on that article asking the same question. Very eager to say the least. :)

[2015-12-02 08:40] tjwebb commented on #1
@Josebaseba @niallobrien hey guys, we're making an announcement at [JSConf](http://lastcall.jsconf.us/) this weekend. We'll be posting more info about the project next week, but in the meantime:

Trails is a complete re-write of Sails, incorporating many lessons we've learned from maintaining the Sails framework and ecosystem. The original authors of Sails.js are no longer helping us maintain the

[2015-12-02 09:20] niallobrien commented on #1
@tjwebb Thank you so much for filling us in, really do appreciate it. Funny, I was just watching your Sails.js talk (https://www.youtube.com/watch?v=sEtSTlkKTmY&index=2&list=WL) lastnight, really enjoyed it. I for one am delighted to see some progress in this space within the node.js ecosystem - keep up the great work.

In terms of new frameworks, I'd also recommend you keep an eye on adonisjs.com

[2015-12-02 09:24] niallobrien commented on #1
@tjwebb Thank you for filling us in. Sounds great and I can't wait to put it through its paces. BTW, love the Trails ASCII unicorn ;) I had just watched your Sails talk at https://www.youtube.com/watch?v=sEtSTlkKTmY&index=2&list=WL so I guess I'll continue learning Sails as it sounds like there will be a migration path, which is pretty cool.

[2015-12-03 01:37] tjwebb opened #3 "Installer should prompt the User to declare a View templating engine"
re: https://github.com/balderdashy/sails/issues/3407#issuecomment-161328021

[2015-12-06 23:43] troy0820 opened #5 "Provide catchAll route in ViewController for Hapi"
Hapi has a catchall route to handle 404 requests.

[2015-12-08 00:52] tjwebb commented on #5
I think for all the web services packs (hapi, express, koa, *et al*) we should setup default pages for 404, and 5XX errors.

Currently Sails has some adorable barrel floating in the ocean graphic that shows up. Along the lines of the twitter failwhale: https://upload.wikimedia.org/wikipedia/en/d/de/Failwhale.png

[2015-12-08 02:30] troy0820 commented on #5
Okay, so each trailpack will have to configure this capability with each view engine it's capable of.

[2015-12-08 03:53] tjwebb commented on #5
Yea, but I think the 404/500 views themselves can probably be stored centrally in this repo since they'll just be HTML.

[2015-12-11 05:24] #5 closed

[2015-12-12 23:41] tjwebb opened #8 "take advantage of stabilized cluster module"
Node `cluster` module is now set to Stable: https://nodejs.org/dist/latest-v4.x/docs/api/cluster.html

I think introducing clustering to the core would be useful and not too much work

[2015-12-12 23:44] tjwebb opened #9 "rename configfile trailpack.js -> app.js"
The application needs an application-scoped configfile, and I think the trailpack config file needn't be so specific. Change the config namespace to `app`, and only trailpacks themselves should utilize the trailpack.js config file.

[2015-12-16 06:54] tjwebb opened #10 "investigate and resolve why process.nextTick() is needed for emit to work properly"
see: https://github.com/trailsjs/trails/blob/master/index.js#L117-L120

Without `process.nextTick()`, certain errors thrown from Trailpacks are not bubbled up to any handler and are buried before the application exits. This is probably representative of another issue, but I'm not sure what it is.

[2015-12-16 06:56] tjwebb commented on #1
@Josebaseba @niallobrien some further discussion is occurring in the Sails repo, here: https://github.com/balderdashy/sails/issues/3429#issuecomment-165004024

[2015-12-16 10:13] Josebaseba commented on #1
Thanks @tjwebb, I think that I understand more or less what's going on, and the purpose of this new project. I'll keep an eye on it.

[2015-12-16 10:13] #1 closed

[2015-12-16 18:24] tjwebb commented on #9
Hmm, maybe not `app.js` because then we'd have `app.config.app` which looks confusing and silly.

[2015-12-16 20:06] #9 closed

[2015-12-17 05:39] tjwebb opened #11 "implement and test trailpack-waterline"

[2015-12-17 05:42] tjwebb opened #12 "implement and test trailpack-swagger"

[2015-12-17 05:43] tjwebb opened #13 "implement trailpack generator"
The current trails generator works for creating new trails apps (https://github.com/trailsjs/generator-trails). We need to build an analog for trailpacks that generates the stuff in trailpack/archetype. Usage will be similar to the trails generator.

[2015-12-17 05:44] tjwebb opened #14 "design and deploy trails.js logo and icon"
@yejodido can you invite John to this github org?

[2015-12-17 06:00] tjwebb opened #15 "trailpack icons"
Need icons for the following things:
- trailpack
- hapi trailpack
- router trailpack
- repl trailpack
- core trailpack

I wonder if we can continue the node.js hexagon theme and show a trail running through them when they're connected up? If this idea is terrible let me know.

[2015-12-17 06:03] tjwebb opened #16 "create concept diagram of how trails and trailpacks fit together"
This will appear on the trails README to clarify how the parts of the apparatus fit together

[2015-12-17 06:17] tjwebb opened #17 "document trailpack loading process in detail, with example"

[2015-12-17 19:04] konstantinzolotarev commented on #12
I'm working on adding swagger to my hapi project and could work on this for trails.

[2015-12-17 22:43] tjwebb commented on #12
Awesome! Yea probably using https://github.com/tjwebb/sails-swagger as a guide might help as well

[2015-12-18 11:41] kokujin opened #18 "Slush.js instead of Yo?"
Was'nt there a discussion about using Slush instead of Yo a while back? It was based on the usage of Grunt vs. Gulp. Since most people are migrating to Gulp, it would be nice if Trails used Slush instead.

[2015-12-18 14:08] FranckyU commented on #1
Seems a deja vu, long time ago there was a thing called Merb...

[2015-12-18 14:33] weyj4 commented on #3
Hey @tjwebb if you tell me how to get started I'll work on this.

[2015-12-18 20:08] dennisdupont opened #19 "multi-tenancy database support"
One of the reasons we did not move forward with sails was requirement for supporting multi-tenancy.  Since that means different things to different developers, what I mean is using a different database connections for each client, which of course is based on the user logged into that session.  Since I see lots of responses to this about sharding and solutions to just put them in the same database,

[2015-12-19 00:05] tjwebb commented on #18
Can you elucidate the difference between Slush and Yo, and how Gulp/Grunt fit into this? I do not know what Slush is.

[2015-12-19 00:10] tjwebb commented on #19
One of the reasons this was so hard in Sails is because of the tight coupling between Sails and Waterline. It was really difficult to insert logic between them to govern a multi-tenant situation. This was fairly widely-discussed in the Sails repo:
- https://github.com/balderdashy/sails/issues/1857
- https://github.com/balderdashy/sails/pull/2553
- https://github.com/balderdashy/waterline/pull/787

[2015-12-19 01:53] wulfsolter commented on #1
^^ Exactly. Merb was great for the Rails community. As was the node.js / io.js split&merge.

[2015-12-19 02:09] tjwebb commented on #1
@wulfsolter

haha burn!

In the grand scheme of things, this "node thing" is still pretty new, and we feel that there's room in the market for a modern rails-inspired framework written in es6 with a modular design paradigm. Sails.js was a good first attempt, and as maintainers and users of Sails.js, we feel that we have some fresh ideas to contribute, and we feel that market competition is a featu

[2015-12-19 15:04] vinyll opened #22 "get something minimal at trailsjs.io"
Hey, right now the trailsjs.io shows a domain parking page.
That's pretty fancy and ugly..
For sure a waiting page or something redirecting to the Github would be better.

[2015-12-19 17:34] kokujin commented on #18
Hey Tj, I think the site says it all, http://slushjs.github.io/#/, "The streaming scaffolding system.
Gulp as a replacement for Yeoman".

I thought it would be a better choice since Trails uses Gulp. I use Gulp in all my projects.

[2015-12-19 17:35] kokujin commented on #22
+1

[2015-12-19 19:32] tjwebb commented on #18
Trails doesn't use gulp at the moment, but it can. I think for the alpha we'll support yeoman just because it's already working. If you'd like to help out with adding slush support before our 1.0 release, we can work that in. Let me know.

[2015-12-19 19:33] tjwebb commented on #22
Yes, we'll try to have a basic site up before the alpha release in January. @yejodido is working on some ideas. If all else fails, I'll put up an RTD site: https://readthedocs.org/ :)

[2015-12-19 19:35] vinyll commented on #22
I guess having a RTD there makes sense.

[2015-12-20 04:03] tjwebb opened #24 "validate integrity of trailpack lifecycle before booting"
Analyze the trailpack `lifecycle` configurations, and determine whether the trailpacks will load correctly, or if there is a mismatch in the lifecycle config (e.g. if a trailpack requires an event that no other configured trailpack intends to emit)

[2015-12-20 07:25] jaumard opened #25 "this.app.log() is not a function"
An error throw when I try to use `this.app.log('something')` but `this.app.log.info('something')` works.

[code]

[2015-12-20 07:30] jaumard commented on #15
Maybe an icon by "family" will be nice ? Like :
- hapi trailpack, express trailpack... for web server
- Webpack, grunt, gulp... for resource builder
...

Like this icons are nice and they also a purpose :) the user can easily they are for the same goal.
Just an idea ^^

[2015-12-20 14:11] yejodido commented on #15
@tjwebb I'll pass the ideas by Jon today.

@jaumard I think there's definitively a theming component to what you're saying that I think would be great. To be able to easily identify the type of trailpack at first glance, but have it dynamically change based on the user's preference.

[2015-12-20 14:22] jaumard commented on #15
@yejodido yes that's why I mean :) thanks

[2015-12-20 16:32] tjwebb commented on #15
@yejodido is Jon on github? If not, get him in here :)

[2015-12-21 00:54] tjwebb opened #26 "add "deploy to heroku" button"
like https://github.com/keystonejs/keystone

[2015-12-21 11:01] s-devaney opened #27 "Session authentication"
I don't know if such functionality is outside of the scope of this project but sails-auth was a popular module in sailsjs. Could we improve on it in Trails and perhaps bake it into the core framework? Let's face it, the majority of apps will use it.

I propose we have a token based authentication strategy in Tails.

[2015-12-21 12:53] YaManicKill opened #28 "HMVC"
I was wondering if you guys would be open to supporting an HMVC setup with trails? It's something that I've found has improved my development massively, and currently I'm doing it with my front-end code, but as I'm using sails, I can't use it with my backend code. It would be great if we could get this.

For those unaware, currently the backend is defined like this:
- api
  - controllers
    - Com

[2015-12-21 12:55] YannBertrand commented on #13
@jaumard and I are [working on it](https://github.com/jaumard/generator-trailpack). We'll do a PR asap ;)

[2015-12-21 17:12] tjwebb commented on #27
@s-devaney definitely! We are/were the maintainers of sails-auth, and will be migrating that functionality over to Trails (along with sails-permissions as well).

For more info: https://github.com/tjwebb/sails-auth/issues/118

[2015-12-21 17:17] tjwebb commented on #28
That sounds like a fine idea; because Trails doesn't dynamically `require()` things, you can structure the namespace however you want, as long as it ends up in the Trails format below:

[code]

I see two ways to do this.

1. you can manually setup the require's to load stuff like this. e.g.

[code]

2. you could write your own trailpack to translate the object all at once.

[2015-12-21 19:03] YaManicKill commented on #28
Brilliant, I hadn't even noticed the index.js files, that makes things much easier.

Cool, I'm going to have a play around, make a fork of the example, and get that working, and then I'll probably look at getting some yo scripts for it as well. Would there be any interest in these for anyone in the future wanting to do this?

[2015-12-21 20:58] tjwebb commented on #28
@YaManicKill awesome, let me know what you come up with. Yea, I'd be open to merging in a `trails:hmvc` subgenerator that sets up the hmvc directory structure. Then also you'll want to update the logic that inserts the `require` statements into the index files when new models/controllers/etc are generated.

[2015-12-21 20:59] tjwebb commented on #28
I think this work can fall entirely under the purview of generator-trails, so @YaManicKill open an issue over there and we can continue discussion there. sound good?

[2015-12-21 23:45] tjwebb opened #30 "Address npm dependency issues found in master branch [Opened by bitHound]"
<p>bitHound discovered:</p> <ul> <li>1 unused package.</li> <li>1 npm package is requiring the latest version.</li> <li>1 outdated package.</li> </ul> <p>For details go to <a href="https://www.bithound.io/github/trailsjs/trails/master/dependencies/npm">bitHound</a>.</p>

[2015-12-22 00:25] troy0820 commented on #30
The unused package they are talking about is trailpack.  I know we use trailpack and latest in the package.json should be **"*"** to not be flagged as outdated.

Changing it along with a npm update --save should resolve this problem.  I can make the PR.

[2015-12-22 00:47] tjwebb commented on #30
:+1:

[2015-12-22 06:49] YaManicKill commented on #28
Alrighty, created trailsjs/generator-trails#12. Closing this.

[2015-12-22 06:49] #28 closed

[2015-12-22 20:13] jaumard opened #32 "this.app.packs is not defined"
this.app.packs is not copy correctly from this.app.config.main.packs cause it's undefined.
One fix can be to modify https://github.com/trailsjs/trails/blob/master/index.js#L77 and add `this.packs = packs`

First issue report for the record :
https://github.com/trailsjs/trailpack-hapi/issues/5

[2015-12-22 22:32] konstantinzolotarev commented on #32
I think this issue is related.

After generating new app using `yo` and `npm start` getting this error:

[code]

[2015-12-23 19:22] JemiloII commented on #1
This is pretty awesome. How can I get involved?

[2015-12-23 20:51] yannbertrand opened #34 "Pageable footprint"
As it was asked [in Sails](https://github.com/balderdashy/sails/issues/2542), it would be great to have a footprint to manage pages of data.

[2015-12-23 21:51] tjwebb commented on #1
Hey @JemiloII, the best way to get involved with the team is to hang out on our Gitter channel: https://gitter.im/trailsjs/trails. Let us know what you want to do! We're happy to accept help :)

[2015-12-23 23:07] tjwebb commented on #34
Yea this is a good idea. A mistake from Sails.js -- thanks for not letting me repeat it!

I think we have two options here, and we can pick one or more to implement:

1. Implement a separate count endpoint, of the form `/{model}/count? ...`

2. Return an `X-Total-Count` header on regular footprint queries
- Advantage: no need to make a separate request
- Disadvantage: more load on the database

Th

[2015-12-24 02:09] DaAwesomeP commented on #19
So theoretically Trails itself is the ORM? I don't see much of a point of an ORM if you can swap the modules easier. The only benefit would be if you need to switch databases in the middle of developing an app (which probably isn't a good idea unless you have well-done tests).

Would an ORM Trailpack implement an ORM API into Trails that makes functions available on its own or implement into Trail

[2015-12-24 02:20] DaAwesomeP commented on #8
Trails also needs to be clusterable (is that a word?) by simple process replication and load balancing. Simply spawning more processes and equally directing traffic to it via a reverse proxy. This how most application hosters, Nginx (if you configure that way), PM2, and Passenger usually work.

[2015-12-24 03:31] DaAwesomeP commented on #18
+1 for Gulp. I don't know about Slush though.

[2015-12-24 04:25] tjwebb commented on #8
Yes, horizontal scalability definitely needs to be supported and configurable. That's not really related to this issue though. The `cluster` module can be used to utilize multiple processes on a single machine

[2015-12-24 09:07] jaumard commented on #34
I think both can be useful depends of the situations. `/{model}/count?` is useful when we only need a number and `X-Total-Count` is useful when we need the total and the data. So my opinion is to have both :) and we can disable `X-Total-Count` with a `/model/find?nocount=true` for example or enable it `/model/find?count=true` depends if by default we want to enable/disable it.

[2015-12-24 10:31] yannbertrand opened #35 "HATEOAS"
One thing that was not implemented in Sails was the HATEOAS principle.

Basically, when doing a request, the response must contain informations on how to access to others states of the resource (removal, edition, etc...) or a linked one.

You can find more informations about this concept on [Wikipedia](https://en.wikipedia.org/wiki/HATEOAS) and on the O'Reily book [
RESTful Java with JAX-RS](https

[2015-12-24 13:25] YannBertrand commented on #35
After a discussion about this with @jaumard, it's true that it would be hard to add some of these informations directly into the footprints as it's business-related.

However it would be nice to have a method in the `response` object which we could use in custom footprints or custom actions.

E.g in a `findOne()`:

    Resource
      .findOne(1)
      .exec((err, resource) => {
        // Handle e

[2015-12-24 18:18] animedbz16 commented on #34
I would recommend using Content-Range or X-Content-Range or make this name
configurable.

See my issue which is also linked in the sails issue described above.

https://github.com/balderdashy/sails/issues/1730

On 4:07am, Thu, Dec 24, 2015 Jaumard <notifications@github.com> wrote:

[2015-12-24 23:09] konstantinzolotarev opened #36 "AssertionError: missing path in new trails application"
[code]

[2015-12-25 05:16] tjwebb commented on #34
Content-Range is specifically for the number of bytes. Is there some other precedent to use it for indicating number of database records?

[2015-12-25 11:05] ArsalanDotMe opened #37 "Use named routes"
One of the things that we very often end up needing is to generate a url for some route in our app.

For example, let's say I have a route like this:
`GET /resource/:resourceId/action/param1/:param1/param2/:param2`

Later in our app, we need to generate an anchor tag with the link to that url. With the current implementation, routing logic will have to be duplicated into the function that creates

[2015-12-25 18:50] animedbz16 commented on #34
The RFC documentation indicates that bytes is one of the unit types, but that there can be application specific types defined:

Content-Range: http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.16
Range Units: http://www.w3.org/Protocols/rfc2616/rfc2616-sec3.html#sec3.12

The main reason, I brought this up in Sails was at the time we were working with the Dojo Framework and their JSON AP

[2015-12-27 02:10] tjwebb commented on #36
related to https://github.com/trailsjs/trailpack-hapi/issues/3. I need to publish a new version of trailpack-hapi.

But on that note, I need to come up with a strategy to democratize the publishing of certain modules. I'll work on a process for this over the weekend. Suggestions are welcome as well.

[2015-12-27 02:55] konstantinzolotarev commented on #36
@tjwebb Actually I used latest version from git. Just linked it.

[2015-12-28 02:22] davidxiao opened #39 "possible new feature? real time solution similar to PubSub of StrongLoop"
like https://docs.strongloop.com/display/MSG/Pub-sub ?

[2015-12-28 02:23] davidxiao opened #40 "possible new feature? angular 2 for frontend?"

[2015-12-28 09:16] jaumard opened #41 "Support formatted footprints"
It would be nice if footprint can support different format like [JSON:API](http://jsonapi.org/).
Also JSON:API allow to add metas datas, here is how I think it can be integrated to trails footprint :
[code]
It can be related to : https://github.com/trailsjs/trails/issues/35

[2015-12-28 13:03] jaumard opened #42 "Class for models, controllers, policies and services"
It would be nice to have some classes :
`TrailsModel`, `TrailsController`, `TrailsPolicy` and `TrailsService` instead of `{}` directly. It can be useful to extends some trailpack functionalities from trails project.
It can be more 'cleaner' / easy to understand/learn to have classes for this kind of objects.

[2015-12-28 13:38] jcloutz opened #43 "JSON API Support"
Are you planning to implement support for the [JSON API](http://jsonapi.org) spec? It would be a great feature to and there are already quite a few libraries for front end frameworks to support the spec.

[2015-12-28 14:17] listepo commented on #42
:+1:  I think it is right

[2015-12-28 22:54] YannBertrand commented on #43
I think https://github.com/trailsjs/trails/issues/35 is related

[2015-12-28 22:55] YannBertrand commented on #34
Thanks for these good advices @animedbz16.

I think https://github.com/trailsjs/trails/issues/35 is related.

[2015-12-29 10:35] jaumard commented on #13
https://github.com/trailsjs/generator-trailpack is here, same usage as `generator-trails` :)
- generates the stuff in trailpack/archetype
- generate api/model/controller/service/policy

[2015-12-29 13:10] jaumard commented on #42
Maybe this classes can be put under https://github.com/trailsjs/trailpack, like this trails and trailpacks api can implements them.
We can change `index.js` to have somethings like :
[code]
And then to create a trailpack :
[code]
Instead of (currently) :
[code]
What do you think @trailsjs/maintainers ?

[2015-12-29 20:03] JemiloII commented on #42
could we shorted the export object properties?

module.export = {
     Trailpack = class Trailpack {...},
     Model = class TrailsModel {...},
     Controller = class TrailsController {...},
     Policy = class TrailsPolicy {...},
     Service = class TrailsService {...}
}

[2015-12-29 20:39] listepo commented on #42
@JemiloII

[code]
or
[code]

[2015-12-30 04:41] ronenteva commented on #36
Same here. Any workaround?

[2015-12-30 05:07] tjwebb commented on #36
@ronenteva I'm publishing new trails and trailpack-hapi versions tonight with these fixes. Sorry for the inconvenience.

Mark your calendars: Trails 1.0-alpha1 is being released on January 8!

[2015-12-30 06:59] tjwebb opened #45 "i18n support"
Trails should support i18n from the beginning, and as such should be included in the core. It will likely be the only dependency included in the core, possibly ever.

[2015-12-30 07:03] jaumard commented on #43
Also related to https://github.com/trailsjs/trails/issues/41

[2015-12-30 07:04] tjwebb commented on #42
This had occurred to me when I wrote the original implementation back in November, but I decided to stick with plain object definitions for some assets. Reasons are below:

### Controllers, Services, Policies
I have no reason here. I think having a `TrailsController` or `TrailsService` class to extend from would be nice, and help prop up trails applications with a bit of additional, helpful struct

[2015-12-30 08:33] jaumard commented on #42
Ho didn't know Models working like this. Make sens to keep an object then.

But for controller/policiy/service it will be really nice to have classes. Now with ES6 javascript have a really inheritance system it will be a shame to not use it. We finally can make `super.myParentMethod()` ^^. In sails for example it make me sick to merge controllers/services to extend them cause we loose parent metho

[2015-12-30 09:03] ghaiklor commented on #42
For me, I don't see any issues with `Model` base class. We can make accessors which must return POJO for adapter that used in this model. Don't need to handle this ourselves. Like this:

[code]

[2015-12-30 13:44] jcloutz commented on #43
Possibly also related to #34. [JSON API Pagination](http://jsonapi.org/format/#fetching-pagination).

[2015-12-30 16:17] tjwebb commented on #42
get schema() {
    return {
      // here is our model definition for mongoose, waterline, whatever
    }
  }

This seems like unnecessary ceremony. I don't want to use classes just because it'd be nice to use them. What are some concrete benefits of this approach?

[2015-12-30 16:47] jaumard commented on #42
I like the approach @ghaiklor

@tjwebb Same as controllers/services/policies to have the possibility to declare some stuff on mother class and don't have to duplicate them (or create unnecessary utils file) in daughter classes. And by stuff I mean functions / validations / attributs. This also "force" orm trailpack to have the same interface and don't have totally different model between different

[2015-12-30 16:50] listepo commented on #42
@ghaiklor +1

[2015-12-30 18:41] JemiloII commented on #42
I like the idea of having a base Model structure. Especially if its pojo format. This way, we can have create one orm adaptor to deal with the model. One of the huge reasons I would like it to be this way, is that I do intend on baking out some of the trails express work. It would be nice to use the same model file formats and adapters that trails hapi, koa, or whatever the next new thing is uses.

[2015-12-30 19:14] JemiloII commented on #35
I don't know if I'd use this, however, if I did, I think I'd like something simple to view, since we are doing rest.
 `MyResouceHATEOAS.js`

[code]
or even:

[code]

Then in the code:
`Hateoas('list', 'update', 'delete');` or `Hateoas(['list', 'update', 'delete']);`

It's an idea, unless you think it'll be hard for others to understand, maybe it looks magical

[2015-12-31 02:29] yejodido opened #47 "Trails Brandmark, Logotype, and Theming"
Hi everyone, just wanted to share with you our current branding efforts courtesy @jonhargreaves .

The second photo is a quick mock of the logo applied to the TrailsMix app, wanted to show a quick sense of it "in action" 🌲

![spreadsheet](https://cloud.githubusercontent.com/assets/5909827/12060373/09b79266-af3c-11e5-8334-7d087375d971.png)

<img width="1295" alt="trailsmixnewlogo" src="https://clou

[2015-12-31 03:16] tjwebb opened #48 "trails:stop event should be more forcing"
We don't really want any further events firing after `trails:stop` is emitted.

[code]

[2015-12-31 13:05] yejodido commented on #15
@jonhargreaves ^

[2015-12-31 15:39] mikehostetler commented on #47
I like it a lot.

Few nitpicks:

* The sentence should read, "Blaze your own Trail" (drop the S)
* I prefer the darker background (Kilamanjaro) with the lighter logo.  The contrast says "Forest" to me, which is where Trails typically lead.

I'd love to see a full style guide played out a bit more, so there's consistent fonts and such.  Not sure if @jonhargreaves does any illustration work, but mor

[2015-12-31 15:44] yejodido commented on #47
@mikehostetler

Yea I can change that, was trying to be clever with the added 's', similar to "TrailsMix":

<img width="943" alt="screen shot 2015-12-31 at 10 44 00 am" src="https://cloud.githubusercontent.com/assets/5909827/12065777/6f4639ba-afab-11e5-8a11-cce73e309ece.png">

[2015-12-31 15:48] mikehostetler commented on #47
Ahh, I see that now! I like that, it almost keeps the "Trails" as the anchor and allows us to build brand extensions off of it.

[2015-12-31 15:53] jonhargreaves commented on #15
@yejodido I will gladly get started on some icon designs. :)

[2015-12-31 15:56] metzuda commented on #47
+1 Kilimanjaro!

[2015-12-31 16:23] jaumard commented on #47
My favorite is the one use for TrailsMix :) (love the colors) so cello/light forest. Doesn't need a background in my opinion ^^, it make logo heavier

[2015-12-31 16:47] troy0820 commented on #47
+1 with what @jaumard said.  I like tent :+1:

[2015-12-31 17:44] jaumard commented on #47
This PR is related guys :D https://github.com/trailsjs/trailpack-core/pull/3 ^^

[2015-12-31 17:49] jaumard opened #49 "Footprint override"
Give us the possibility to override the default FootprintController methods per controller.
It can be related to https://github.com/trailsjs/trails/issues/42 cause if we have class for controllers we can but defaults Footprint methods under that class and under each controller we can override or not footprint behavior :)

[2015-12-31 18:31] jaumard opened #50 "i18n for front"
I never see this kind of feature in any framework but in every project I made with i18n the problem as occurred.
I would like to have one translation file per language but some translation are for front, some other for the back and some for both. I don't like to duplicate translation files to have one front and one back cause if you update one you have to update the other as well (and for all lang

[2015-12-31 18:33] tjwebb commented on #49
@jaumard there are three ways to achieve this.

#### 1. Route Config Override
This is the most Sails-ey way to do this, and should work out-of-the-box currently. Create `FooController.myHandler` and create a corresponding route object in `config/routes.js` that points to it. So if you want to override `FootprintController.find`, your route object would look something like this:
[code]

#### 2. Mix

[2015-12-31 18:37] tjwebb commented on #50
@jaumard I believe that my design will support this use case naturally. I'm going to try to finish up the i18n integration today, and once I push it then I'll show how I think you can achieve your goal.

[2015-12-31 18:42] jaumard commented on #50
That would be great ! I will wait :)

[2015-12-31 21:46] tjwebb commented on #45
An initial implementation is here: https://github.com/trailsjs/trailpack-core/commit/7b2fa5a1ba151098ab3cdfa58fdfdd517bfb4343

[2016-01-01 00:54] jaumard commented on #49
Very nice ! I prefer the inheritance way (3) :) it's more "natural" than 1 and less magical then 2. Also  you can call `super.find...` if you want/need and add you own stuff without rewrite all you already did in the mother (web server) footprint.

[2016-01-01 16:28] jaumard commented on #36
I have this error on template example app and fix it by adding a template engine in `config/views.js`
[code]
I fork the repo to fix all the errors and have an example project who is working : https://github.com/jaumard/trails-example-app

[2016-01-02 19:20] yejodido commented on #47
Hi everyone, it's come to our attention that our logo is very similar to the logo at http://tent.io

We're actively working on a new logo (the tent icon) but of course we'll keep the pallette and logotype to ensure that the new voice speaks loudly, clearly, and coherently towards our goal with Trails.

Be on the lookout for the new designs coming soon :)

[2016-01-02 20:55] muxahuk opened #53 "Package missing, where and how to fix ?"
trying to start server
[code]
Trying to make controller
[code]
Who's side is these error ? yo or trails:controller ???
Reinstalling bouth of them didn't helped!..

[2016-01-02 21:01] konstantinzolotarev commented on #53
@muxahuk could you please create a repo with current application. So we could debug and find problem ?

[2016-01-02 21:53] muxahuk commented on #53
I'v run commands:
`npm install -g yo`
`npm install -g generator-trails`
// restarted cmd
`mkdir trails-demo`
`cd trails-demo`
`yo trails`
That's it.

Then i run commands and u can see output above.. Is it necessery to make a repo ?
I'v tryed again and now it's:
[code]
and trying generate controller gives the same error:
[code]

Running under:
[code]
On Windows 10 x64

[2016-01-02 22:10] konstantinzolotarev opened #54 "TypeError: Cannot read property 'compatibilityAPI' of undefined"
Copied from #53
[code]

[2016-01-02 22:13] konstantinzolotarev commented on #53
@muxahuk Seems that first isue was because of wrong generator. I have issue (controllers missing) if I'm using generator from my own fork.

For missing path we have an issue: #36
For `TypeError: Cannot read property 'compatibilityAPI' of undefined` I've created a new issue: #54.

For generate controller: created trailsjs/generator-trails#18

Thank you !
I'll close this issue. Please feel free to d

[2016-01-02 22:13] #53 closed

[2016-01-02 23:05] YannBertrand commented on #54
At the moment, you need to create these files manually:
* `config/i18n.js` (don't forget to add it into the `config/index.js`)
[code]

* `config/locales/en.json`
[code]

[2016-01-03 00:12] YannBertrand commented on #54
#45 seems to be related. May this issue occur because of an outdated `trailpack-core`, @tjwebb?

[2016-01-03 10:44] jaumard commented on #54
Related to https://github.com/trailsjs/generator-trails/issues/17 :)

[2016-01-03 13:15] RaedsLab commented on #54
:+1:

[2016-01-03 19:29] jaumard commented on #54
Fix on PR https://github.com/trailsjs/generator-trails/pull/16

[2016-01-03 20:22] troy0820 commented on #30
I closed this pull request because why it breaks is the *eslint module* is missing. That isn't a dependency issue and I can open up another issue for that.

[2016-01-03 21:08] kokujin commented on #45
i18n-node ( https://github.com/mashpie/i18n-node) and a few others are quite nice, why should i18n be in the core?

[2016-01-03 21:14] kokujin commented on #47
I think the "tent" is overkill anyway, what does it have to to with trail-blazing? The "trails" text logo would suffice, a little simplified perhaps as it is with good logos

[2016-01-03 21:24] kokujin opened #62 "node 5.x compatibility?"
At the moment, loads of complaints in the console during scaffolding

[2016-01-03 21:32] jaumard commented on #62
Can you share your console output ?

[2016-01-03 21:40] tjwebb commented on #47
@kokujin we do need an "icon" though, like for Twitter and so forth.

[2016-01-03 21:42] tjwebb commented on #45
i18n-node hasn't been published to Github in a year and a half, and I emailed the maintainer about this with no response. I decided to use i18next, which has similar adoption as i18n-node but is updated regularly. It'll be included in trailpack-core.

[2016-01-04 11:40] kokujin commented on #47
agreed @tjwebb, may I then suggest that the icon should show an abstraction of a trail? Look at the "Grandad" of these frameworks, Rails a.k.a  Ruby on rails. The icon logo has a stretch of rail tracks in it.

[2016-01-04 17:48] jacqueslareau commented on #62
Here is the ouput on a basic yeoman scaffold (selected Hapi server). Windows 10, node 5.3.0

[code]

[2016-01-04 17:59] kokujin commented on #62
I am using Elementary OS Freya( Ubuntu 14.04)
Node version 5.2.0

here is a snippet

[code]

[2016-01-04 18:02] kokujin commented on #22
+1

[2016-01-04 19:36] rachaelshaw opened #63 "Inaccurate wording of FAQ answer"
Some of the wording in the answer to 'Is Trails a fork of Sails?' is a little misleading, so would be a good idea to change it to avoid confusion about this project. Right now it says:

But that makes it sound like the core maintainers of Sails have become involved in this project. It would be more accurate to change it to something along the lines of:

(Would have submitted a PR myself, but I fig

[2016-01-04 19:54] jaumard commented on #62
Warnings are because you're using node 0.12 not 5.2
`current: {"node":"0.12.9","npm":"2.14.9"}`

[2016-01-04 20:40] tjwebb commented on #63
Around this time last year, @mikermcneil invited us to maintain Sails and take over community operations. Some of the things we did:
- organized and addressed hundreds of github issues, both with documentation-level and code-level resolutions
- maintained and contributed effort to Sails, Waterline, Skipper, Anchor, and several database adapters.
- traveled around the country (as well as internatio

[2016-01-04 21:08] mikermcneil commented on #63
I appreciate your past work evangelizing Sails, but unfortunately this statement is not true.  I certainly asked for your help in organizing the community, but I never asked you to "take over operations". From the beginning, I was clear that I would maintain complete control of Sails, and that I would be its BDFL.  I reiterated this every time you repeatedly asked me for more rights, such as NPM p

[2016-01-04 22:06] remzr7 commented on #22
+1

[2016-01-04 22:22] tjwebb commented on #63
Holy flame war! If you want [yet](https://news.ycombinator.com/item?id=10819583)[1]  [another](https://news.ycombinator.com/item?id=10777087)[2]  [article](https://news.ycombinator.com/item?id=10755557)[3] about "is Sails dead?" to end up on HackerNews, please by all means, proceed to hash this out on Github and have it perennially enshrined in the foreverness of the internet.

So you'd like me to

[2016-01-04 22:33] tjwebb commented on #63
TLDR, @rachaelshaw and @mikermcneil, I won't be merging this feature.

[2016-01-04 22:33] #63 closed

[2016-01-04 23:40] mikermcneil commented on #63
@tjwebb the agreement you're referring to was never signed, and had only to do with a limited license to use the Balderdash brand for client work, and had nothing to do with Sails.

[2016-01-04 23:44] mikermcneil commented on #63
No, I'd like you to stop claiming that other contributors were also removed from the Sails project.

[2016-01-04 23:54] tjwebb commented on #63
I know. After you sent it to us for signatures, you began avoiding us and eventually removed us from everything when we pressed the issue.

I don't think that the README makes that claim anywhere. Either way, I don't actually give a fuck about your opinion.

[2016-01-04 23:55] mikermcneil commented on #63
As @rachaelshaw pointed out, the README says:

However, none of the other members of the Sails core team are involved.  So we're asking if you'll please correct that.

[2016-01-04 23:57] tjwebb commented on #63
Now you have an issue with my use of plural vs. singular nouns? Again, see https://github.com/trailsjs/trails/issues/63#issuecomment-168800660. I am not the only person who I consider a core contributor as part of our arrangement, and putting forth effort into those activities.

[2016-01-05 00:00] mikermcneil commented on #63
I removed you from everything because you told us you were done contributing to Waterline and Sails, and were going to create and promote your own fork.

[2016-01-05 00:05] tjwebb commented on #63
I told @particlebanana that if you continued to ignore us and the community, we would be forced to fork the project in order to maintain it. Then, yes, you kicked us out of the organization and our email accounts, and continued to ignore us. I'm glad we agree.

[2016-01-05 00:09] rachaelshaw commented on #63
You also told me in pretty clear language that you were done.

But clearly this isn't a productive discussion -- I didn't mean to upset you, I just wanted to point out that the README makes it sound like this is by the authors of Sails, and you probably don't mean for it to come across that way.

[2016-01-05 05:51] kokujin commented on #62
I beg to differ, I am using, "n" (https://github.com/tj/n) to manage my node installations, this is my console version output:

[code]

n output:

[code]

[2016-01-05 06:37] tjwebb commented on #62
@kokujin you have some configuration issue, because your own machine thinks you're using some version older than 0.12. I would double-check this.

[2016-01-05 06:40] tjwebb commented on #47
I sort of like the idea of turning the github fork icon into a trail of some sort. @yejodido @jonhargreaves how are things going on the update?

[2016-01-05 07:40] #54 closed

[2016-01-05 13:21] YannBertrand commented on #35
I can understand your point of view, but the REST standard is not about simplifing the views (as far as I know :wink:).

Of course it would be great to make this optional as you said, but I'm pretty sure it will be needed pretty quickly (basically whenever you need to retrieve all your data (see #34)). We can embrace that pagination problem with HATEOAS.

For example:

*GET /resource?page=2*

[2016-01-05 13:41] troy0820 commented on #62
@kokujin Yeah, check the version in '/usr/local/bin/node -v` to see if it's outputting the correct version.  Also check your PATH `echo $PATH` to see if that's in there.  Also check `which node` you are using.  You could be installing binaries from node and never be using them. If you ever installed node from apt-get .... it would've installed it to /usr/bin

[2016-01-05 13:45] jacqueslareau commented on #8
Although adding basic clustering to a framework is trivial, I don't think it belongs there. I think process management should be a responsibility of a process manager. Something like PM2 has a lot a features to handle clustering, and trying to duplicate would be a waste.

With that being said, if the use case would be to enable clustering for a standalone app, it is very easy to find examples on h

[2016-01-05 14:01] jacqueslareau commented on #34
In my experience, you almost always need the total count for client side pagination. Having a second endpoint for count is only moving the complexity to client code (need to generate 2 requests all the time). Maybe that will go away with HTTP2, but for now I think it should be highly configurable.

I think clients should be able the request metadata either by a query parameter (like @jaumard said)

[2016-01-05 14:44] mikehostetler commented on #26
Need to specify an `app.json` file, as described here: https://devcenter.heroku.com/articles/heroku-button

Then, we'll need to deploy a generated repo, not the core repo. After that should be pretty straightforward.

[2016-01-05 18:01] kokujin commented on #62
Thanks @tjwebb and @troy0820 for helping, I still have problems though. My console output

[code]
I will try clearing the npm cach und re-installing

[2016-01-05 19:09] tjwebb commented on #26
Yea maybe we can deploy trails-example-app, or some derivative

[2016-01-05 19:10] tjwebb commented on #34
Scheduled for https://github.com/trailsjs/trails/milestones/v1.0-beta

[2016-01-05 19:12] jaumard commented on #26
:+1: for trails-example-app but need some default views cause for now trails-example-app is only a generator-trails output.

[2016-01-05 20:05] tjwebb commented on #26
We should create a todomvc app: http://todomvc.com.

[2016-01-05 20:30] yejodido commented on #47
@tjwebb sort of like...
![12467890_10208499065103892_1455661337_n](https://cloud.githubusercontent.com/assets/5909827/12126765/21bf6a9e-b3c1-11e5-8a31-135f1b5c4f1b.jpg)

Also for consideration
![12498558_10208498973581604_1170925309_n](https://cloud.githubusercontent.com/assets/5909827/12126768/24fa46fc-b3c1-11e5-8619-4d277d1148ec.jpg)
![12498722_10208498973701607_685389846_n](https://cloud.github

[2016-01-05 20:38] mikehostetler commented on #26
All great ideas, I'll start pondering and make a plan here.

--
Sent from mobile so please excuse the brevity or typos

On Tue, Jan 5, 2016 at 12:05 PM -0800, "Travis Webb" <notifications@github.com> wrote:

We should create a todomvc app: http://todomvc.com.

—
Reply to this email directly or view it on GitHub.

[2016-01-05 20:44] jaumard commented on #26
todomvc is more for front end framework/library than back end as I see. If we want to do it we have to choose a front framework who will already be on todomvc.

[2016-01-05 20:53] tjwebb commented on #47
first one: "solidify" leaves, remove some of the lines
second: make it look more like a real leaf
3rd: like a lot, try some variations. try using golden ratio for the rectangles

[2016-01-05 21:00] jaumard commented on #47
@yejodido nice work :) I prefer the ones with 2 and 3 leaves. For the one with 2 leaves make the left leaf above the other one, cause the "fork" will surpass the original project ;)

PS : But the tent looked better lol

[2016-01-05 21:11] troy0820 commented on #47
Question concerning the fork one.  Do we want to do that?  Big `issue` about this being an unintentional fork of sails (I know it's not but you know).  Didn't want a logo to have that distinction.  The leaves are great IMO but we don't want to copy a company like mint but an evergreen leaf is something cool.  I like the rectangles.  The tent was cool :disappointed: . We can always make a path some

[2016-01-05 21:43] jaumard commented on #47
:+1: yeah @troy0820 about fork :/ a lot of people will make the shortcut easily.
Why not a comet trail ? The nail can make the T bar and the comet the i point...

I try something more traditional about leaf also :
![trailslogo](https://cloud.githubusercontent.com/assets/2970449/12128463/bfcb55b8-b3fd-11e5-97d1-36ab3afeb812.png)

[2016-01-05 22:10] tjwebb commented on #26
We can just use React. An example can't cover everything, but I think a react + trails example will give people an idea of how trails is used and how to get started.

[2016-01-05 22:38] nrempel commented on #8
I agree with @jacqueslareau on this one.

[2016-01-05 23:48] DaAwesomeP commented on #8
It depends on how the clustering is intended to work. If you're using to cluster module for simple horizontal scaling, than yes, it's useless. However, if you use it to aggregate tasks to different child processes specifically (such as background tasks), then it's great. It just depends on the level in which it's being used. If it is used to replicate the load-balancing function of a horizontal sc

[2016-01-06 00:01] alexiskattan opened #64 "coffeescript?"
Any plan to support coffeescript at the application level?

[2016-01-06 00:09] tjwebb commented on #8
The goal of this clustering work is not to replace an external process manager such as PM2. I intend and hope that trails will integrate nicely with tools like [forever](https://github.com/foreverjs/forever) and [pm2](https://github.com/Unitech/pm2).

Use of the [cluster](https://nodejs.org/api/cluster.html) module would be intended primarily to empower certain trailpacks to take advantage of the

[2016-01-06 00:15] DaAwesomeP commented on #8
@tjwebb I think that that `does` replace horizontal scaling, as the goal of horizontal scaling is to do exactly that. By allowing `hapi-trailpack` to do it's own load balancing to split to multiple processes, it is replicating the goal of horizontal scaling.

I understand your intention though. I just think that Hapi is a bad example. Background jobs in separate processes would definitely be a plu

[2016-01-06 00:19] codingcampbell commented on #47
Disclaimer: not a graphic designer by a long shot, but throwing in my .02c anyway.

I like the leaf direction better than the tent, but it also seems kinda generic and not directly related to trails. I feel like there's a ton of leaf logos out there, maybe that's just because of where I work.

The tent itself would better if you dropped the side of it to square it off (good for iconification too):

[2016-01-06 00:21] codingcampbell commented on #47
Oops, nevermind, it looks like https://tent.io/ uses exactly that logo anyways :sweat_smile:

[2016-01-06 00:22] tjwebb commented on #47
@codingcampbell I agree, actually, but this is the problem with that: https://tent.io :) After we ended up on hackernews, the creators of tent.io reached out to us and kindly let us know that we were stepping on their logo. This is why we're moving away from the tent idea.

[2016-01-06 00:36] codingcampbell commented on #47
@tjwebb yeah, stanley kindly pointed that out to me _after_ I shopped the thing >_<

One more thing I'll spam the thread with to hopefully inspire the real designers in this thread: Beyond leaves, there are quite a few "rugged" aesthetics people naturally attribute to camping. Perhaps a but generic, but some quick wins would be like snowcapped mountains, bears, pine trees, etc. They are also very

[2016-01-06 04:32] fernandolguevara opened #65 "yo trails:whatevergenerator fails"
i'm executing this command **yo trails:model Customer** and i get this error, same error for the others generators

[code]

[2016-01-06 06:35] jaumard commented on #65
Thanks for the report, this issue is related to https://github.com/trailsjs/generator-trails/issues/18 and be fix soon.

[2016-01-06 07:17] hussainanjar opened #66 "Website mentioned in the repo description doesn't work"
See attached
<img width="607" alt="screen shot 2016-01-06 at 12 16 08 pm" src="https://cloud.githubusercontent.com/assets/459445/12137108/723c7580-b46f-11e5-9306-baccf7120047.png">

[2016-01-06 08:11] hussainanjar opened #67 "Fresh install of trails fail"
After doing `yo trails` and running command `npm start` I get following error

[code]

[2016-01-06 09:05] metzuda commented on #47
What if, instead of the tent, we keep the same triangular shape but have a sort of winding trail going up towards the top? Imagine a single, lonely mountain with a path to the peak.

Like this:

![a trail](https://cloud.githubusercontent.com/assets/8866130/12138925/84cf593a-b454-11e5-80cf-8cedbcd6520a.jpg)

Except not drawn by a eight year-old.

[2016-01-06 09:42] metzuda commented on #66
See #22

[2016-01-06 14:40] jacqueslareau commented on #67
Already reported in #36 and #54.

[2016-01-06 17:13] Eein commented on #47
Just some input: It might be a good idea to keep the text on the logo as readable as possible and represent with a mark, this way it lends well with marketing future endeavors/cons/etc. The proposed trails text is too busy wouldn't lend well to paper/marketing materials when/if that time comes.

[2016-01-06 19:09] tjwebb commented on #47
LOL :+1:

Hey @jonhargreaves would you mind prototyping this out as well? Just make sure it doesn't too closely evoke the [Eye of Providence](https://en.wikipedia.org/wiki/Eye_of_Providence)

[2016-01-06 19:12] tjwebb commented on #47
@codingcampbell I like the stock mountains you sent over. We're working on some background drawings (e.g. for presentation slides and so forth) that might benefit from those ideas.

[2016-01-06 19:26] konstantinzolotarev commented on #67
@hussainanjar @jacqueslareau thank you ! Please use existing issues for all question.

[2016-01-06 19:26] #67 closed

[2016-01-06 19:26] konstantinzolotarev commented on #66
@hussainanjar Thank you! Please follow discussion in existing issue.

[2016-01-06 19:26] #66 closed

[2016-01-06 19:58] nrempel commented on #26
I think todomvc only makes sense for front-end frameworks. IMO, you'd be much better off with an example blog app or example twitter clone.

[2016-01-06 21:11] dharness commented on #64
Is there a reason to support Coffeescript in particular, as opposed to say, TypeScript?

[2016-01-06 21:13] dharness commented on #40
I think if this introduced it would be related to #64 - specifically because Angular 2 uses TypeScript heavily

[2016-01-06 21:16] jaumard commented on #64
I didn't know TypeScript or Coffeescript but they or both compiled into Javascript right ? Trails support webpack so all you need to do is a webpack configuration who compile this file at start. So Trails is already kind of compatible or am I wrong ?

[2016-01-06 21:26] nrempel opened #68 "Database migrations"
Hi there,

In SailsJS, it was clear that it was up to the developer to write and maintain their own database migrations.

I find it a _massive_ productivity boost to have the ability to generate migrations based on model changes or at the very least have a built-in migration runner. Does Trails have any plans for supporting database migrations or is this considered a separate concern?

Thanks.

[2016-01-06 21:27] jamemackson commented on #68
:+1:

[2016-01-06 21:27] jaumard commented on #68
:+1: it would be nice to have this feature

[2016-01-06 23:12] jaumard commented on #47
It can be cool to have a logo for Trailpacks also :) with same type ect...

[2016-01-06 23:15] remzr7 commented on #68
+1

On Wed, Jan 6, 2016 at 4:27 PM, Jaumard <notifications@github.com> wrote:

[2016-01-06 23:32] nrempel commented on #47
+1 for @metzuda's suggestion

[2016-01-06 23:52] nrempel opened #69 "Support non-Waterline ORM"
http://sequelizejs.com

[2016-01-07 02:12] jonhargreaves commented on #47
@tjwebb Lol! Yes, I will get you the prototype without the Eye of Providence as soon as possible.

[2016-01-07 02:47] tjwebb commented on #68
@nrempel I know right!

The alpha release will not include any migrations support. Since Trails supports many ORMs (Waterline is just one of them), we will reply on integrating a [trailpack](https://github.com/trailsjs/trailpack) with something like [node-db-migrate](https://github.com/db-migrate/node-db-migrate). This is something the core team is very interested in supporting, but we won't have

[2016-01-07 02:49] tjwebb commented on #69
We might have to take a vote. I'm not sure whether to support Sequelize or [Bookshelf.js](http://bookshelfjs.org/). Maybe @tgriesser has some thoughts on this? :)

[2016-01-07 02:54] randallmeeker commented on #69
I would + 1 Sequalize or Bookshelf. Anything to get me off of Waterline !!!!!!!!!!! @tjwebb Are there any examples yet of trails not using waterline?

[2016-01-07 07:07] jaumard opened #72 "New npm version needed"
In order to generate a working default project with the generator, we need the i18n configuration and a default template engine.

i18n is already on master but PR is needed for template engine https://github.com/trailsjs/trails/pull/23
Or if no template engine is configured update hapi to not throw this error (and push it to npm)

[2016-01-07 16:18] YMA-MDL commented on #65
is there any way to use an older version to try something working?
Should this issue also impact the way versions are released ?

[2016-01-07 16:21] stanislavromanov commented on #69
Why even bother with waterline, it's not even proper orm. Is it for backwards-compatability with sails or there is another reason? /cc @tjwebb

[2016-01-07 16:22] randallmeeker commented on #69
+1 the main reason I'm looking for alternatives to Sails is waterline. Waterline is the best / worst feature of sails.

[2016-01-07 18:24] jaumard commented on #42
I think if you decide to do this, it have to be done for the beta version because after too much Trailpack will existe and it will be more difficult to implement this.

[2016-01-07 19:45] tjwebb opened #75 "create docker image for trails application"
and share on dockerhub: https://hub.docker.com/u/trailsjs/

[2016-01-07 20:07] tjwebb commented on #69
Honestly, it was the easiest way to get a 1.0-alpha set up quickly and out the door. Now that we know there's such demand for non-Waterline ORM in Trails, that's what we can all work on!

Does anyone have a strong preference between Sequelize and Bookshelf?

[2016-01-07 20:14] randallmeeker commented on #69
I prefer Sequelize due to support for soft deletes, which bookshelf lacks.

Migrations, Transactions and Soft Deletes

[2016-01-07 20:26] nrempel commented on #69
I made a little poll to gather votes :D

http://strawpoll.me/6473827

[2016-01-07 20:45] nrempel commented on #75
Is this a docker image containing the example trails app or is it a starting point for a docker image?  What's the use case here?

[2016-01-07 23:23] tjwebb commented on #75
There could be many. Initially, probably to serve as a development environment. Eventually, we'd evolve that into a container suitable for deployment.

[2016-01-08 00:22] animedbz16 commented on #69
Not to hijack this issue, but would there still be plans to support nosql
outside of waterline as well?

On 3:07pm, Thu, Jan 7, 2016 Travis Webb <notifications@github.com> wrote:

[2016-01-08 09:05] stanislavromanov commented on #69
@animedbz16 What is a problem in using any noSQL orm you desire?

Does this framework will make it hard to choose whatever orm I want just like sails did?

[2016-01-08 11:18] jaumard commented on #69
Someone on gitter mention https://github.com/biggora/caminte the things I like with waterline is it's working with SQL and NO-SQL databases. So if anyone have test this one and give a feedback it can be cool.
@stanislavromanov it's not hard but a `trailpack` have to be created for the ORM you want to be compatible with Trails. Example for Waterline there `trailpack-waterline`.

[2016-01-08 12:09] jaumard commented on #72
All is working with last npm versions

[2016-01-08 12:09] #72 closed

[2016-01-08 12:25] jaumard commented on #24
It can be nice to do this only once a new trailpack is install. Because if there a lot of trailpacks it will slow down server start, it can be done on `npm install` or trailpack order can be save in a file/db a calculate only once.

[2016-01-08 12:30] jaumard opened #76 "Config/web.js should be move under trailpack"
I think the `config/web.js` shouldn't be under `trails/archetype` and be under `trailpack-hapi/archetype`, `trailpack-express4/archetype`... If some web server have default values other than `port` to put in it they can't actually.

[2016-01-08 14:15] jaumard opened #77 "Where public dir can be configured"
Sails by default use `.tmp/public` some others prefer `www` or `www/public`... maybe it can be nice to have somewhere to configure this. Maybe in `web.js` ? Webpack, Gulp and other tasks runner can retrieve this value and build assets.

[2016-01-08 17:03] nrempel commented on #69
@animedbz16 that's a good point, I didn't think about that.

I would argue, though, that using SQL and noSQL databases through the same interface is probably a bad thing. The two types of DBs excel at different things. Treating a noSQL database like a relational database is probably going to cause you grief in the long run.

Why not have trailpack-bookshelf and trailpack-mongoose for example? Two

[2016-01-08 17:05] randallmeeker commented on #69
+1 on seperating NoSQL and SQL, the waterline approach sounds good, but ends up being really bad once you get a little further in.

Having said that, @nrempel should the Poll be updated to include a NoSQL adapter?

[2016-01-08 17:09] nrempel opened #78 "Task: describe the anatomy of trails"
I'm hoping to dig in more and knock off some tasks soon once I find some time outside of work.

One barrier for me is understanding the anatomy of trails and how trailpacks interact with the system.

For example, what is the purpose of the archetype directory? lib? etc.

Maybe this is a good piece for the github wiki, or is there going to be a separate RTD site?

[2016-01-08 17:14] nrempel commented on #69
Yeah, that poll was a little short sighted. I can't update it now :crying_cat_face:

It looks like bookshelf and sequelize are neck-and-neck.

Perhaps the best approach is to choose whichever one is fastest to implement (for now) and then start working on a mongoose trailpack assuming mongoose/mongo is the first candidate for a noSQL database.

[2016-01-08 17:34] randallmeeker commented on #78
I know I suggested back in the day on sails, that it would be great to have a developer google hangout where interested collaborators could get a walk through / tour from core devs. This could also help us to help them write the necessary documentation.

[2016-01-08 17:42] jaumard commented on #78
I wrote a tutorial for trailpack (not working yet cause not all modules are on npm but it can help to understand) http://blog.jaumard.com/en/2016/01/06/create-a-trailpack-for-trails/ `archetype` are not part of this tutorial cause `archetype` are only use by yo generators for now. `archetype` is only template files that will be copy on trails project. Yo generator take the files and create your pr

[2016-01-08 17:42] nrempel commented on #78
+1 for that

[2016-01-08 22:13] jaumard commented on #65
Fix on `generator-trails` v0.0.10

[2016-01-09 00:12] tjwebb commented on #77
Yes, we should do this under `config.main.paths`.

[2016-01-09 01:11] grocky commented on #12
Hi @konstantinzolotarev! Have you made any progress on this? I'd like to help get this implemented.

[2016-01-09 08:13] tjwebb commented on #42
I just started working on this, and then stopped. There are more issues with inheritance besides the ones I mentioned above. I think we need to schedule this for a future release.

1. es6 methods are not enumerable, so the handy `_.functions` does not work. We need to iterate manually and use `Object.getOwnPropertyNames()`.

2. `Object.getOwnPropertyNames()` only looks at the current object, and i

[2016-01-09 08:18] #32 closed

[2016-01-09 08:18] #30 closed

[2016-01-09 08:18] #13 closed

[2016-01-09 08:19] #11 closed

[2016-01-09 08:19] tjwebb commented on #11
https://github.com/trailsjs/trailpack-waterline

[2016-01-09 08:20] tjwebb commented on #45
Implemented 1.0 with i18next

[2016-01-09 08:20] #45 closed

[2016-01-09 08:20] #36 closed

[2016-01-09 08:20] tjwebb commented on #14
superceded by #15

[2016-01-09 08:20] #14 closed

[2016-01-09 08:20] #12 closed

[2016-01-09 08:21] tjwebb commented on #12
https://github.com/trailsjs/trailpack-swagger

[2016-01-09 08:37] tjwebb commented on #24
Yea I think we can just do this when trailpacks are installed, since that's the only time this could change.

[2016-01-09 10:11] jaumard commented on #42
I understand, if I can help with this let me know :)

For 1 and 2 :
[code]
Maybe for the 3 we can just pass the app on constructor :

[code]

[2016-01-10 00:41] tjwebb commented on #42
This is reasonable, we'd just need to change all the controllers currently written (luckily, not too many!)

[2016-01-10 01:23] #65 closed

[2016-01-10 03:42] tjwebb commented on #69
Yea; waterline originally was built to mimic the mongoose API and to also work with relational databases. They kind of got the relational part working, but somehow forgot about transactions.

Trails can work with any ORM and it doesn't discriminate. So we certainly want to support all kinds of databases via integrations with many ORM libraries.

[2016-01-10 07:55] tjwebb commented on #42
Alright, I took the plunge and I'm re-doing controllers, services, policies, and models to be classes and inherit from standard es6 classes to provide structure.

see:
- https://github.com/trailsjs/trails-model
- https://github.com/trailsjs/trails-controller
- https://github.com/trailsjs/trails-service
- https://github.com/trailsjs/trails-policy

Hopefully I can get this done tonight and tomorrow.

[2016-01-10 09:13] jaumard commented on #76
Also `config/weppack.js` should move on `trailpack-webpack`

[2016-01-10 18:53] jaumard opened #79 "eslint should ignore archetype folder"
generator-trails need some `<%= variable %>` under archetype for some features like web server trailpack or template engine. But if we add this eslint crash with :

`error  Parsing error: Unexpected token <`

Two solutions :
- Tell eslint to ignore archetype folder
- Tell eslint to allow `<%= whatever %>` on js file

Relative to :
https://github.com/trailsjs/generator-trails/issues/14
https://gith

[2016-01-10 18:58] tjwebb commented on #79
I think we should figure out how to do this. I'd to keep everything under eslint if possible.

[2016-01-10 19:00] jaumard commented on #79
I agree with this ! I didn't know eslint (first time I use it) but found this http://eslint.org/blog/2014/11/es6-jsx-support/ so it's possible.

[2016-01-11 14:50] jaumard commented on #79
In fact I see jsx is already added enabled, and yeoman templates are not jsx :( I ask on eslint gitter and on this issue https://github.com/yeoman/yo/issues/401#issuecomment-170573294 and there no way to support this.

Here is what I want to do (in `config/main.js`) :
[code]
Like this I can require all additional trailpacks given by the user.
The only things I can do that doesn't break eslint is :

[2016-01-11 21:10] jonhargreaves opened #80 ""s" in "trails" is too small."
Ew. This is a serious problem. :stuck_out_tongue_winking_eye:

[2016-01-11 21:24] yejodido commented on #80
Whoops wrong repo!

[2016-01-11 21:24] #80 closed

[2016-01-12 13:51] e0steven opened #82 "No A Record for WWW host on domain"
There is no A record for www.trailsjs.io, it dumps you to a 'park' page.

[2016-01-12 17:22] tjwebb commented on #82
Ah yes, you mentioned this last night. Thanks for filing this, I would indeed have forgotten.

[2016-01-12 17:41] jaumard commented on #47
Any updates for the new logo ? :D

[2016-01-14 16:52] gutenye opened #84 "Provide client side library"
It'll be great if we can use same model files in both server and client side. There're something in common, e.g. validation, custom methods

Maybe something like [js-data](http://www.js-data.io/)?

[2016-01-14 19:05] dapriett opened #85 "Feature Request: Mincer - assets processor"
Would be nice to see [Mincer](https://github.com/nodeca/mincer) added to Trailsjs - which provides asset support similar to Sprockets in Rails.  I was able to get it to work in Sails using a hook I created [sails-hook-mincer](https://github.com/dapriett/sails-hook-mincer).

[2016-01-15 01:59] aclave1 commented on #62
@kokujin  what's the status on this? what version of npm are you running?

[2016-01-15 02:11] aclave1 commented on #84
I have written some code to automate this for a past project and i plan to provide it as a trailpack. The way i did it in the past was, I added DTO classes to my sails.config.routes file, I then required this file into my client app and ran some code to extract the http method and route template, call the api library of my choice, new() the "send" DTO, pass in the parameters, and whatever comes ba

[2016-01-15 13:10] RaedsLab opened #86 "Failed at the test-3@0.0.0 start script"
npm ERR! Linux 3.16.0-38-generic
npm ERR! argv "/usr/bin/nodejs" "/usr/bin/npm" "start"
npm ERR! node v5.4.1
npm ERR! npm  v3.5.3
npm ERR! code ELIFECYCLE
npm ERR! test-3@0.0.0 start: `node server.js`
npm ERR! Exit status 1

npm ERR! Failed at the test-3@0.0.0 start script 'node server.js'.

[2016-01-15 23:13] tjwebb commented on #86
Is this after generating a new trails app?

[2016-01-15 23:18] tjwebb commented on #85
@dapriett I remember this feature request in sails as well: https://github.com/balderdashy/sails/issues/2956. Nice work over there, it looks like a similar strategy could be adopted for Trails.

[2016-01-15 23:23] tjwebb commented on #84
@gutenye yea this would be very good. We have some thoughts but would like input from the community. People like you!

I built something similar for Sails:
- https://github.com/tjwebb/sails-backbone
- https://github.com/tjwebb/sails-backbone-client

also cc @yejodido who may have some ideas

[2016-01-16 17:38] RaedsLab commented on #86
vanilla generation goes fine, then this occurs when I start

[2016-01-17 18:57] jaumard opened #89 "standardized controller/policies API"
In order to make all Trailpacks compatible whatever the web server choice, we need a unified API for controllers and policies.

[code]

But actually controllers/policies are bind directly to web server so I don't see how we can implement this :/.
Any idea ?

[2016-01-18 01:33] aclave1 commented on #84
I'm going to open source the one I wrote and provide a trailpack for y'all.

[2016-01-18 16:52] aclave1 commented on #84
I ended up rewriting my client library implementation from sails. It's a work in progress and hasn't been tested. Read the readme if you like the general idea: https://github.com/aclave1/trailpack-client

[2016-01-19 08:22] jaumard opened #90 "Footprint conflict"
I have `controllers: true` under `config/footprint.js` so Trails map all controllers methods. But if I want to add a route like this :
[code]

I have this error :
`Trace: [Error: Route id [footprint] /default/info -> DefaultController.info for path /default/info conflicts with existing path /default/info]`

Expected behavior : post / put have to be overridden.

[2016-01-19 21:29] tjwebb commented on #90
I've resolved this in the latest version of trailpack-hapi. I removed the `id` field from the route object, which fixes this issue.

It occurs because hapi does not allow `id` to be set for routes which support multiple http methods.

[2016-01-20 18:49] chuckpearce opened #91 "Windows build issue"
Attempting to run basic installation of trails, fails on npm start under Windows 10.

Output of "npm start" command: http://pastebin.com/qpknnM5n

config/footprints.js shows the "prefix" set to "/api/v1".

Node Version: Tested on 4.x and 5.x
Windows Version: Windows 10

Reproduction Steps:
npm install -g generator-trails
npm install -g yo
yo trails
npm start

Confirmed these steps worked without i

[2016-01-21 09:20] jakobrosenberg commented on #91
Same issue here.

[2016-01-21 17:59] jaumard commented on #89
How about run a function before web server was configure to check controller and if they extends a `StandardizedController` class, we generate a wrapper into each methods to make them compatible with the `app.config.web.server`

[2016-01-22 04:24] tjwebb commented on #91
This weekend I'll try to download a Windows 10 VM and test it. If you guys have any ideas on why the issue is occurring, that'd be appreciated.

[2016-01-22 09:39] jaumard commented on #91
The problem is coming from https://github.com/trailsjs/trailpack-router/blob/master/lib/footprints.js#L35 and https://github.com/trailsjs/trailpack-router/blob/master/lib/footprints.js#L54

In fact `path` use `/` on linux and `\` on windows. The problem is hapi need only `/` or you have
`Invalid path : \api\v1\default\info`.

I'm able to run it on windows by removing `path` usage on the 2 methods

[2016-01-22 18:24] Alaneor commented on #82
It still shows a generic registrar page. And the naked domain redirects to this github repo, not sure if that's desired behaviour or not.

[2016-01-23 18:29] tjwebb commented on #91
thanks @jaumard.  I should use https://nodejs.org/api/url.html#url_url_resolve_from_to instead. I did not realize the `path` module was os-specific.

[2016-01-23 18:57] #91 closed

[2016-01-23 21:30] thejones commented on #49
My preference also falls into #3 for a few reasons:
1. Not all users are coming from Sails.
2. Trails has been embracing ESWhatever and the OO feels like it is a great fit.
3. I don't want to change my routes just so I can apply a policy for securing the default actions.
4. Per recent gitter discussion this is what I thought would happen without finding this issue...
[code]

[2016-01-24 02:55] #62 closed

[2016-01-24 02:55] tjwebb commented on #62
@kokujin if you're still having issues, let us know. Closing for now.

[2016-01-24 07:27] kokujin opened #93 "Feature request: Web server configuration and transparency"
**It would be nice to have a configuration file for the selected web server. Something along the lines of "config/server.js".**

Reasons?
* One could be porting custom middle-ware and their configurations from existing Express 4 of Hapi applications.
* One might decide to switch out a server in mid development, at the moment everything is just abstracted away somewhere in Trails internals.

I apol

[2016-01-24 07:33] kokujin commented on #78
+!

[2016-01-24 16:06] jaumard commented on #93
The file `config/web.js` is for the web server next it will be moved into each web server trailpack (https://github.com/trailsjs/trails/issues/76) like this each web server trailpack can add it's own configuration.

[2016-01-24 18:15] jaumard opened #94 "standardized models API"
For same as controller/policies (https://github.com/trailsjs/trails/issues/89) it would be nice to have a standardized API for trailpack who want include models

[2016-01-25 08:22] tjwebb commented on #89
One idea might be to use the builtin `Policy` and `Controller` classes as the base types, and the webserver-specific types inherit from subclasses. e.g.

### App using Hapi as Webserver

[code]

### The "Trails Controller"

I think this is a good abstraction, but I want to emphasize in the documentation that it's only really necessary to use this pattern when building trailpacks. I don't want to s

[2016-01-25 08:45] tjwebb commented on #94
I think this would be much harder to get working well. For example, compare the waterline model definition to knex: https://github.com/trailsjs/trailpack-knex#models. A lot of translation work would be required there, with conditions for every kind of attribute and so forth.

[2016-01-25 10:07] jaumard commented on #94
I understand that will not be easy but we will need this for trailpack-auth/permissions :/ or those will work only with waterline :/.

What I'm thinking right now, maybe we can just do something like (for a start) :

[code]
And Trails take the good schema, if schema is not present Trails can say to the user `this Trailspack is not compatible with your ORM`.

[2016-01-25 11:13] jaumard commented on #89
I'm ok with the fact the standardized controller should be learn/use only for trailpack. That's a good thing. In the doc we can only mention Trails controller on Trailpack part and never on Trails :)

Hapi(Express|Koa)Controller are not really needed... Controllers are map directly with web server so no need to have a specific class controller right ?

So if I understand you, under trailpack-expre

[2016-01-25 15:22] jaumard commented on #89
Here my interface proposal :

[code]

[code]
We can create 2 classes for them (in trailpack-webserver) and each web server trailpack extends them to be compatible.

[2016-01-25 19:21] tjwebb commented on #94
Ok, I see what you're saying now. I wanted to avoid this, but I think there's no way around a single ORM definition as well that we can map to and from. Between knex/bookshelf, sequelize, and waterline, Waterline has the most "vanilla" schema definitions. By that, I mean that it's entirely plain js objects. This is actually why I chose hapi for the route definitions -- because hapi routes are simp

[2016-01-25 20:12] jaumard commented on #94
Sounds very good to me :)
Waterline<-->Knex look promising but yeah not easy to translate one to the other ^^
100% agree for doing same as webserver layer ! That's the best options (in my opinion).
And yeah tests for verify trailpack implementations are a good thing for both datastore and webserver.

[2016-01-26 01:15] grd2345 opened #95 "view engine not loading"
I installed trails and got the app to run, but view engine is not loading.
I tried to set it up as jade, i installed jade but seems it does not load the view engine.
how do you properly setup this stuff as I see no info about this.

![screenshot from 2016-01-25 19 12 33](https://cloud.githubusercontent.com/assets/6042668/12569821/fb26123e-c397-11e5-99e7-8da32914b151.png)

[2016-01-26 13:03] abusaidm opened #96 "Error starting Trails from fresh deployment"
Installed Trails on windows, and generated using hapi, no errors.
when running 'npm start' I am met with the following error:

Error: Invalid path: \api\v1\{model}
    at Object.exports.contain.exports.reachTemplate.exports.assert.condition [as assert] (c:\projects\node\trails\test-hapi\node_modules\hapi\node_modules\hoek\lib\index.js:732:11)
    at internals.Router.normalize.internals.Router.anal

[2016-01-26 20:52] tjwebb commented on #89
I think it might make sense to try to re-use the hapi interface as our own generic interface, and conform other webserver trailpacks to it. This gives us three immediate benefits:
1. the interface is already documented and the design is familiar
2. there will be very minimal work to get trailpack-hapi working :)

There will be a slight performance hit on every request to go through this additional

[2016-01-27 20:53] maissani commented on #37
Nice feature ,

It would be nice that named route behave like it :
## Abstract Route Concept :

Abstract Route
[code]
A route that use the previous abstract route:
[code]
Resolved route will be : /api/v1/default/info

But only enabled if in footprints.js
[code]

With that feature, enabling abstractRoutes would permit to use not named routes too.
Abstract routes would permit : abstractroute.another

[2016-01-30 01:56] yejodido commented on #47
Hey everyone! Thanks for the patience and suggestions.

**pulls away curtain**

![trailslogo](https://cloud.githubusercontent.com/assets/5909827/12692785/3324c7c2-c6ca-11e5-8b05-9e4e044e4d42.png)

_Ta-da!_

At this point we're actively working on the website and documentation, as well as finishing up TrailsMix for an early beta launch.

[2016-01-30 14:45] jaumard commented on #89
I don't like hapi interface but yeah ^^ it make sens to do it this way. I will start implement this in express4 and Controller template (https://github.com/trailsjs/generator-trails/blob/master/src/controller/templates/Controller.js) to remove the extends or all controller will be interpreted as Trails Standard Controller.
Agree ?

[2016-01-31 03:24] tjwebb commented on #89
Sounds good. Honestly the hapi API isn't my favorite either (I don't know why `body` is called `payload`) but they put a lot of thought into it already and I'm happy to trust it.

[2016-01-31 09:19] jaumard commented on #89
Ok cool let's go on this ! :D we will be hapi to trust it ;) lol
I will need you for some spec with express4 when you have some time. About configuration and all middleware things.

[2016-01-31 14:04] jaumard commented on #89
@tjwebb ok first problem ^^ if controllers didn't extends trails-controller `this.app` is not bind into it.
So I think we need a `trails-controller` with a default constructor, a `trails-standard-controller` that extend `trails-controller`. If a controller is instance of standard controller class web server wrap interface like hapi. What do you think ?

[2016-01-31 14:30] jaumard commented on #89
Another thing, if I use this on trailpack-express4 :

[code]
I suppose `trails-controller` is a sub module of `trailpack-express4` and controllers use `trails-controller` of the project so controller will never be `instanceof Controller`.

On my unit test all pass cause controllers are instance of `trails-controller` but on Trails projet nothing pass.

Did you have a way to fix this ? Or an idea ?

[2016-01-31 17:32] jaumard commented on #89
Ok for now I use this to detect if Controller is a `trails-controller` :

[code]
I was able to run swagger Trailpack on express4 without problem :) that's a start ^^

[2016-02-02 13:18] jaumard opened #97 "Expose session into Trails app object"
It would be nice if we can access to the http session from Trailpack (or trails services).
Maybe like : `app.session` like this we can access the session whatever the chosen web server.

What do you think ?

[2016-02-02 17:07] jaumard commented on #97
I can explain why I need sessions :) I'm working on a trailpack-analytics https://github.com/jaumard/trailpack-analytics that will allow to track REST API from Trails (by just given the google account id). But in order to do it I need a way to define a unique user and send "page" or "event" to analytics. That's why I need to access the session (whatever the chosen web server)

[2016-02-02 20:09] tjwebb commented on #97
I think we'll need to wait for trailpack-auth to be built first. session management depends not only on webserver, but deployment infrastructure. e.g. for horizontally-scalable systems, the sessions will need to be hosted in a shared cache (e.g. redis) which means they can't be available on some global variable in the way you describe.

[2016-02-03 08:12] jaumard commented on #97
Ho I understand, I didn't think about the `horizontally-scalable systems` but maybe we can think to another way to make session available to Trailpacks too. I just test my `trailpack-analytics` and it works ^^ the only missing thing is a way to detect single user.
Another thing I'm thinking is, why trailpack-auth for session ? Maybe I need sessions but I don't need authentifications. For me it's 2

[2016-02-07 20:31] enten opened #98 "Standard and custom responses"
Do you plan to implement [custom responses feature like in sails](http://sailsjs.org/documentation/concepts/custom-responses)?

Or is there already exists a fast way to do that?

**I think that it's a useful helper to manage standard responses** like 404 errors (when a controller or a model was not found), 401 errors (when data sent to a model does not valid its schema), forbidden responses (403 e

[2016-02-07 23:33] Alaneor commented on #98
Off-topic: 401 should be used for unauthorized requests, not when a model's schema validation fails. See [Wiki](https://en.m.wikipedia.org/wiki/List_of_HTTP_status_codes).

[2016-02-08 06:56] enten commented on #98
Yes, I was wrong. The 400 error is more suitable.

But how about the feature? Do you think there will be implemented (or something similar)?

[2016-02-10 17:43] tjwebb commented on #98
I haven't decided, honestly, if this is something that the webserver trailpacks should be forced to include. hapi can use [boom](https://github.com/hapijs/boom) to customize responses and errors. For express, you could include [express-custom-responses](https://www.npmjs.com/package/express-custom-response). I want trails to be webserver-agnostic and also lightweight; since solutions exist for man

[2016-02-10 19:10] enten commented on #98
Thanks for your answer. I'm agree with your opinion.

Can you expand this idea? Your opinion may be helpful if the community starts to build a trailpack for this feature.

[2016-02-13 22:45] tjwebb commented on #89
Cool! I think this kind of method may be useful in other trailpacks as well. Would you mind adding this to lib/trails.js and adding a couple tests? I'm planning to expose a `app.util` object which will contain some methods like this.

[2016-02-15 03:09] RothAndrew opened #99 "Starting fresh install: TypeError: obj[method].bind is not a function"
[code]

[2016-02-15 03:43] tjwebb commented on #99
@RothAndrew try updating the versions of trails and the trailpacks to their "beta" versions. This is a result of a version mismatch that needs to be fixed in the generator.

[2016-02-15 03:56] RothAndrew commented on #99
Thanks, that fixed it. Here's my (working) package.json. Updated all to beta except trailpack-repl. 1.0.0-alpha-3 is the latest version on npm.
[code]

[2016-02-16 22:44] tjwebb commented on #99
Awesome, thanks for the report. We're currently rolling out the beta release in stages because some of the development took several days longer than expected, and not all of the trailpacks were released at the same time.

[2016-02-16 22:44] #99 closed

[2016-02-16 22:45] tjwebb commented on #96
@abusaidm are you able to provide more information about your issue?

[2016-02-17 00:17] jaumard commented on #89
@tjwebb Yeah sure in witch repo you want me to add this ? But in order to do it we need to create the `trails-standard-controller` (or whatever ^^) class

[2016-02-17 22:41] maissani opened #100 "Trails QuickStart Errors: #v1.0.0-beta-1"
## QuickStart Issue on Trails version 1.0.0-beta-1:
### Environment details

#### Dependencies in packages.json
[code]
### How to reproduce
Follow that getting started guide (clean trails install)
Options: Hapi
### What did happens
After the ```npm start```command:
It seems that there is an error in trailpack-core at line 47

That occurs after the event router initialized in the last version of tr

[2016-02-17 22:44] RothAndrew commented on #100
Can you post the dependencies section of your package.json? I had the same problem and it was fixed by updating dependency versions. I'll scrounge up what my dependencies section looked like when I got it to work

[2016-02-17 22:46] RothAndrew commented on #100
...
"dependencies": {
    "jade": "^1.11.0",
    "lodash": "^3.10",
    "rc": "^1.1",
    "trailpack-core": "^1.0.0-beta-3",
    "trailpack-hapi": "^1.0.0-beta-2",
    "trailpack-repl": "1.0.0-alpha-3",
    "trailpack-router": "^1.0.0-beta-4",
    "trails": "latest",
    "trails-controller": "1.0.0-beta-2",
    "trails-model": "1.0.0-beta-2",
    "trails-policy": "^1.0.0",
    "trails-service": "1

[2016-02-17 22:49] maissani commented on #100
Yes, this seems to be a duplicate to #99. I have to close it and continue into the #99 issue.

[2016-02-17 22:50] #100 closed

[2016-02-23 14:57] jaumard opened #101 "Change environment mode"
I'm trying to change `development` environment to `production` (or anything else) and it's not working. The console tell me I'm under `development`.

I have tried this :

[code]

This is plan to work only for the first release or it's a bug ?

[2016-02-27 00:54] tjwebb commented on #101
This should work:

[code]

Trails doesn't currently support any command-line flags, e.g. `--prod`

[2016-02-27 10:17] jaumard commented on #101
You're right in one line it's working ! But it doesn't use `config/env/production.js` file. `trailpack-repl` is not disable, I can see debug logs and I put some config for `trailpack-gulp` to build assets in production mode but it take the dev tasks.

[2016-02-27 23:31] jaumard commented on #101
Closing this on open another one about config env merge

[2016-02-27 23:31] #101 closed

[2016-02-27 23:35] jaumard opened #102 "Environment config not loaded"
When environment is set to `production`, trails doesn't override default config by `config/env/production.js` file.

For example trailpack-repl is not disable, I can see debug logs and I put some config for trailpack-gulp to build assets in production mode but it take the dev tasks.

The command to test the issue
[code]

Maybe something wrong around here https://github.com/trailsjs/trailpack/blob/

[2016-03-01 13:13] buffonomics commented on #1
Glad to hear this. I particularly want to see more NodeJS frameworks incorporate more ES6 features...especially generators (something I still believe Javascript should have never entered the server without).

[2016-03-02 04:34] tjwebb commented on #82
Resolved.

[2016-03-02 04:34] #82 closed

[2016-03-02 06:15] tjwebb commented on #99
Should be resolved in 1.0.0-beta-2: https://www.npmjs.com/package/trails

[2016-03-02 06:22] tjwebb commented on #96
Closing until more info is provided.

[2016-03-02 06:22] #96 closed

[2016-03-06 14:13] jaumard commented on #90
Fix on last version

[2016-03-06 14:13] #90 closed

[2016-03-08 13:11] edencorbin commented on #95
Not sure on Jade, but this worked for me on EJS, and should be very similar,

Config/views.js in your module exports add   engine: 'ejs',
In your package.json add dependency for ejs:   "ejs": "^2.4.1",
npm install.

You can now start your app and you won't get a view engine error, however you still will get an error about the view not existing. I'm working on figuring out the view routing part too

[2016-03-08 14:51] grd2345 commented on #95
You get view not existing because the server.js file under the
trailpack-hapi module is hard coded to look for html view which is
handlebars. I got this working by adding jade to it. I'm sure you can add
ejs and it will work. The latest update still hasn't corrected this.

Not sure on Jade, but this worked for me on EJS, and should be very similar,

Config/views.js in your module exports add engin

[2016-03-08 23:00] tjwebb opened #103 "[spec] .trails folder"
Create a spec that allows trailpacks to make use of the filesystem according to a convention. This would be similar to `.tmp/` in sails, but would be more formalized in the documentation and the API.

[2016-03-09 12:18] jaumard opened #104 "getBaseUrl and getHost"
Can be useful to have `getBaseUrl` and `getHost` method into Trails like this Trailpack who need host or base url can access to it.

[2016-03-09 14:10] AndreCapelache opened #105 "Watch app in development"
Any way to reload (models, controllers, services, polices, trailpacks, ...)  without restart the server in development

[2016-03-10 04:44] tjwebb commented on #105
Not yet, but we've started working on this and definitely want to make it happen. There are two sides to this:

1. The ability to reload/hotswap trailpacks is started, and initial implementations are here: https://github.com/trailsjs/trailpack/blob/master/index.js#L81-L111

2. We want to build a "trailpack-hotswap" that will watch directories and re-load assets that change. Trails' event-based loa

[2016-03-10 04:47] tjwebb commented on #64
@jaumard yea, I think this is something that should be supported in the project's build process.

[2016-03-10 04:47] #64 closed

[2016-03-10 22:30] Alaneor commented on #102
The problem is right [here](https://github.com/trailsjs/trails/blob/master/index.js#L49) - by the time this line is called, the environment-specific configuration should be merged into the main `this.config` object, but it is not.

Assuming the configuration merging should behave identically to how Sails merges its environment-specific configuration options, a good place to do such merge right aft

[2016-03-10 23:43] Alaneor commented on #48
I don't think this can be prevented unless the events are handed over to `EventEmitter` in current tick [here](https://github.com/trailsjs/trails/blob/master/index.js#L99).

I do not understand the comment there - was this done in order to fix of some specific issue?

[2016-03-10 23:59] Alaneor commented on #48
Ah, related - #10.

[2016-03-11 00:05] Alaneor commented on #104
Would this be somehow detected or provided by user via configuration?

I am just thinking how to go about detecting your host in a way that works for all (or at least most) hosting providers (Heroku, AWS, etc.).

[2016-03-11 01:12] tjwebb commented on #48
yea, I've made some progress in removing the nextTick() requirement but I'm not completely comfortable yet without an integration test that proves it's fixed. Trails will start and function perfectly without it, but I've run into issues where errors are thrown but are buried somewhere mysterious.

We'll definitely knock this out before 1.0

[2016-03-11 22:03] tjwebb commented on #104
yea, a general solution here is difficult. You could *declare* the host/baseurl in environment variables, but I don't think you could reliably *detect* them. If the web server is fronted by a load balancer or some other reverse proxy (which I typically recommend) then the host will be some internal ip address. It's also common to rewrite urls during proxying, so baseurl would be hard to generalize

[2016-03-11 22:12] jaumard commented on #104
@tjwebb I need it for `trailpack-passport` to give the callback URL to third party providers here https://github.com/jaumard/trailpack-passport/blob/22556ee56d115039f6d3ccd63a9d1c3bec66f705/lib/passports.js#L157

In my previous module `sails-hook-passport` I use the default `sails.getBaseUrl()` method here : https://github.com/jaumard/sails-hook-passport/blob/4f56b6777722675b8153e66615246428f9cea4

[2016-03-11 22:15] randallmeeker commented on #104
should probably be an environmental variable that can be set per machine. So it can be read from configs like in heroku or in elastic beansstalk ect. . . that way you can push to machines on different providers

[2016-03-11 22:15] Alaneor commented on #104
Original implementation can be found [here](https://github.com/balderdashy/sails/blob/master/lib/app/private/getHost.js).

It's all gathered from explicit configuration.

[2016-03-11 22:18] jaumard commented on #104
Also implementation of getBaseUrl can be found here https://github.com/balderdashy/sails/blob/27fbc59c87a41eebd9e6a4ebf0a7d87c0d3ba5f1/lib/app/getBaseurl.js

[2016-03-11 22:18] Alaneor commented on #104
What @randallmeeker said. I wonder if this information could be useful in other instances, right now nothing comes to my mind. If not, then perhaps the best solution would be to include the explicit host configuration in a `trailpack-passport` specific configuration option...

[2016-03-11 22:22] jaumard commented on #104
@Alaneor it can be use for sending emails with links in it for example

[2016-03-11 22:36] Alaneor commented on #103
Is this intended only as temporary storage or as an API for a persistent data store? The latter would be rather interesting if it could be swappable, ie. one API for S3, GridFS, Azure Blob Storage etc.

[2016-03-11 22:40] Alaneor commented on #79
If it's a template for a generator, can we... generate something and lint that instead of the template source? It's a bit of a workaround but at least it does not require a custom parser. :)

[2016-03-11 22:47] Alaneor commented on #48
Would it make sense to remove the workaround and release it for broader testing while still in beta? If there's no clear indication as to why it's broken, perhaps someone will stumble upon the problem in a way that will reveal the root cause.

[2016-03-12 15:52] jaumard commented on #94
@tjwebb I just think about another way to make this available more quickly than the above solution. Can we give the possibility to trailpacks to have models definition for each ORM they want to support ?

But it seems a long way for doing the same for ORM because models definitions are not the same at all... So maybe we can think of a way to have multiple definition for the same models and the rig

[2016-03-12 18:41] tjwebb commented on #103
Mainly as a default folder for temporary app storage. e.g., for a sqlite database, compiled assets, and so forth.

[2016-03-12 22:59] jaumard commented on #75
I just try to create an image with the default generated project here with hapi and express4 :
https://hub.docker.com/r/jaumard/trails-express4/
https://hub.docker.com/r/jaumard/trails-hapi/

That's what you mean @tjwebb ?

[2016-03-12 23:01] jaumard commented on #75
Also you create the user Trailsjs but you also can create an organisation on hub docker

[2016-03-13 12:24] jaumard commented on #94
Few solution to implement what I'm saying :

Solution 1) : **Duplicate model definitions**
We can allow multiple `schema` methods to support multiple ORM.
[code]

Solution 2) : **Duplicate model classes**
Each ORM will have to include a model classes `ModelBookshelf` `ModelWaterline`... :
For waterline :
[code]
For bookshelf :
[code]
For the `index.js` :
[code]
Now Trails will 'only' have to pick

[2016-03-14 20:31] jaumard opened #109 "Trailpack event `before`"
It can be nice to have the ability to listen an event `before` for trailpack lifecycle.
Currently we can run our methods after another but not before. In some cases it can be useful to be executed before (change config file dynamically, change files ect....)

We can easily imagine this kind of configuration :
[code]

What do you think ?

[2016-03-14 21:23] tjwebb commented on #109
[code]

I think we've already talked about this on gitter. This is the opposite of how I usually think about loading modules. If I'm writing a module, my module should declare what other things it depends on.

I'd need to see a specific instance where this allows you to accomplish something you can't currently accomplish with the current system. Keep in mind there are multiple lifecycle stages, so

[2016-03-14 21:38] Alaneor commented on #102
I tried to implement configuration deep-merging just like Sails currently does, found an interesting problem.

In Trails, it seems to be encouraged to include some implementation details directly in the configuration, ie. [here](https://github.com/trailsjs/trails/blob/master/archetype/config/log.js#L17) a logger instance is created directly in the configuration object. Doing a recursive merge of s

[2016-03-15 06:32] jaumard commented on #109
Yes we did sorry but I can't find our talk so I decide to put it here. In fact it's maybe because I don't understand this like you do.
For me Trailpacks have 3 steps to do :

1) Validation : config ect...
2) Configure : prepare some stuff before init
3) Initlize : really launch the Trailpack to start doing what is suppose to (but initialize do only the start and don't do stuff)

With this in my mi

[2016-03-15 06:45] tjwebb opened #110 "Setup TravisCI to run tests against Windows"
I naively added
[code]
but there are a few issues:

1. The "windows" build seems to be occurring on a linux machine. maybe this somehow is how it's supposed to work, but I don't know. https://travis-ci.org/trailsjs/trails/builds/116054489

2. I don't know if "nvm" even works on windows. If not, windows needs to run some install process, somehow.

Tests for Trails should run automatically against w

[2016-03-15 06:58] tjwebb commented on #110
Bounty: https://www.bountysource.com/issues/31897782-setup-travisci-to-run-tests-against-windows

[2016-03-15 07:57] jaumard commented on #110
In fact the build who fail is the mac os x build because nvm is not install in Travis VM. But yeah windows build run on linux it's strange...
For osx I see this https://github.com/travis-ci/travis-ci/issues/2311#issuecomment-171180704
You need to add :

[code]

If I can I will look the windows problem but windows support seems new to Travis.

[2016-03-15 10:36] jaumard commented on #102
Maybe @tjwebb can give his thought here.
Currently merge between config packs and default config is working and I think it merge everything. I think there only the logger who is create in the config file but in some case you can have `require("toto")` who can also be a complex object.
I suppose in most case user will not override complex data under his environment config. He will do most of the jo

[2016-03-15 12:07] jaumard commented on #110
Hum they didn't talk about windows in there doc https://docs.travis-ci.com/user/multi-os/ maybe windows is not out yet...

[2016-03-15 12:14] jaumard commented on #86
Do you always have this with the last version ?

[2016-03-15 14:03] Alaneor commented on #86
This does not look like a complete output. Is there nothing more on the screen?
And what happens when you run the project without `npm run start` and doing directly `nodejs server`?

[2016-03-15 16:43] tjwebb commented on #110
Perhaps, then, there's another CI service that can automatically run these tests on Windows?

[2016-03-15 20:08] jaumard commented on #110
Sorry I didn't know a CI service who allow Windows environment (for Node or everything else)... Maybe someone else will know this.

There some things that will append like windows on Travis (they seem to be close to release it).

But there also some docker container base on windows that will come out https://www.docker.com/microsoft we can imagine create a docker for testing Trails on windows with

[2016-03-16 00:46] mscdex commented on #110
[AppVeyor](appveyor.com) does CI on Windows VMs and is free for open source projects.

[2016-03-17 03:59] tjwebb commented on #110
Cool, thanks @mscdex for the link, I'll check them out.

btw, it's been like two decades since I've seen the word "mscdex" anywhere so thanks for reminding me of the good ol days of debugging windows boot issues :)

[2016-03-18 19:39] tjwebb opened #111 "listening to events on the global process object waters down the advantages of encapsulation"
Trails very intentionally does not pollute the global namespace with things like models, controllers, or some global `trails` object. This is a technical blunder that Sails made, which we aim to not repeat.

However listening to things like "uncaughtException" on the global `process` object is an edge-case form of this pollution. For example, imagining an application which wanted to run and manage

[2016-03-18 23:15] tjwebb commented on #103
This should be defined by a trailpack, not the core. Closing.

[2016-03-18 23:15] #103 closed

[2016-03-18 23:30] tjwebb opened #112 "perhaps we can use node's built-in doc generation tool"
https://github.com/nodejs/node/blob/ad8257fa5b9795d3d79fa4a91d0f18c43f024ab3/Makefile#L268-L269

[2016-03-19 09:02] jaumard commented on #112
Can't find any documentation on this to find how to use it ;( Is this tool public ?
We need to know what this tool can do and limitation compare to alternative module jsDoc ect...

[2016-03-22 04:34] tjwebb opened #113 "run CI tests against bleeding-edge node"
CI tests should be run against nodejs master: https://github.com/nodejs/node. Tests should not be required to pass

[2016-03-27 19:11] tjwebb commented on #104
@jaumard @Alaneor Sorry I didn't notice this earlier, but `getBaseUrl` is being deprecated in Sails: https://github.com/langateam/sails-auth/issues/126.

If you can describe the intended use cases in a separate issue, we can come up with a way to solve those problems.

[2016-03-27 19:11] #104 closed

[2016-03-27 19:38] jmcfet opened #117 "following starting video issues"
https://www.youtube.com/watch?v=AbSp8jqFDAY  is the video by Travis that I tried following but ran into this issue:

I got by the waterline sqllite issue and can start up a default app. I see the **user **model definition . Looks interesting at this point, I do a //localhost:3000 request and see Hello Trails.js !  The video implies that I can consume the user object with no more code but do not se

[2016-03-28 09:41] jaumard opened #118 "Have a way to retrieve app url"
Trailpacks sometimes need to have access to the app url (for email url or url callbacks for example).

Maybe we can simply add a `config.main.appUrl` who is by default set to `'http://' + config.web.host + ':' + config.web.port` and users can override it under `main.js`.

Like this trailpacks who need app url can always use `config.main.appUrl` instead of each one try to guess what it is...

relat

[2016-03-30 06:42] tjwebb commented on #118
Yea I think we could set this in `config.web`. There's no "standard" right now, but I think `baseUrl` makes sense. Various trailpacks already use `hostname` and `port` in `config.web`

[2016-03-30 07:14] jaumard commented on #118
Yeah I think it's better to avoid using host and port directly because how trailpack can detect SSL option ? Because host normally doesn't contains http(s). It will depends of the web server... If there a config.web.baseUrl user can set it with http/https if they want to.

Like this no problems with Trailpack that don't detect baseUrl correctly. Trails (or trailpack-core or each webserver trailpac

[2016-04-01 06:58] tjwebb commented on #48
I think I've resolved this, per my previous comment, I just need to manufacture a way to test it. My team has two deadlines that converge tomorrow, so I'm looking forward to having more time available starting again next week.

[2016-04-01 07:06] tjwebb opened #124 "use Map() for storing config tree"
#### Problem

There's No Good Reason I need to write code like this

[code]

in order to avoid the `foo of undefined` problem. And in Trails core, there's this craziness: https://github.com/trailsjs/trails/blob/master/lib/trails.js#L17-L25.
#### Solution

If I simply collapse the config tree into a Map(), I can happily say things like

[code]

and it'll either exist or not, but won't throw any sor

[2016-04-01 21:11] ryayak1460 commented on #110
Seconding AppVeyor.  Travis-CI does not have true Windows compatibilty yet.  Here's the issue tracking that: travis-ci/travis-ci/#216

Also, [this gist](https://gist.github.com/Azolo/2783045) has some (granted, older) notes about some of the internal reasons why Travis-CI can't really run Windows builds just yet.

[2016-04-02 06:12] jaumard commented on #124
Sounds good ! Better to do it now than later ! :) also a `this.config.get('bar.baz.foo', 'defaultValue') ` can be useful.

[2016-04-02 12:06] Alaneor commented on #124
I would rather not use a `Map` for this, because there might be situations where you want to get the whole configuration object at a specific location.

For example, using a `Map` would not allow me to get the whole object located at `service1` if it should store all values individually.

[code]

Instead, we could use the string as a location, split it to individual property keys and recursively a

[2016-04-02 12:19] Alaneor commented on #111
If we want to achieve full encapsulation of Trails apps in a single process, then those listeners on `process` have to go away. Right now, if one Trails app crashes, all the Trails apps will just shut themselves down. This may or may not be desirable, though - a process which just experienced an uncaught exception might be in no good shape to continue operating. However, it's true that finding out

[2016-04-02 16:18] jaumard commented on #124
Yes we can keep background compatibility. Instead of `Map` we can simply add `get` and `set` functions who will just use `get` and `set` methods of `lodash` https://lodash.com/docs#get https://lodash.com/docs#set
Like this we can access config directly or just by doing `this.config.get('bar.baz.foo', 'defaultValue')`

[2016-04-02 17:10] jaumard commented on #110
I have something who work with appveyor here https://ci.appveyor.com/project/jaumard/trails (not yet for node 4.4.2 because I thinks app veyor doesn't have an image for it yet)
How do you want to do this @tjwebb  ? Can you create the appveyor account and team and add me in it for me to configure it ? Or give me the rights on Trails repo ? let me know.

[2016-04-02 17:38] Alaneor commented on #124
Working on this.

[2016-04-02 19:35] tjwebb commented on #124
This doesn't have to be. We could store subtrees in keys as well.

[2016-04-04 06:21] tjwebb commented on #124
See: http://jsperf.com/es6-object-v-map-get-3

`Map.get()` is about 5x faster than indexing 3-4 levels into the config object.

[2016-04-04 06:27] #110 closed

[2016-04-04 11:27] jaumard commented on #18
@DaAwesomeP here is for gulp https://github.com/YannBertrand/trailpack-gulp :)

[2016-04-05 05:02] Nishchit14 commented on #19
Yuppppppy.... +1

Waiting for this feature. Any milestone or deadline created ? I am going to start a new multi-tenancy app, But i am waiting for this support. I also tried to help in sails, but it was not possible without changing lots of code in waterline so they are not interested right now.

[2016-04-05 05:08] jaumard commented on #19
Trails can use any ORM normally. Did you know one who support multi tenancy? If yes I can try to create a trailpack to make it compatible.

[2016-04-05 06:31] jaumard opened #128 "Use Github issue templates"
It can be nice to use Github template to guide users on how format an issue.
For example :
* Problem => please post your problem on StackOverflow with the tag trailsjs
* Bug => describe the bug, node version, trailsjs version, trailpack version if needed, are you able to help with a PR about this
* Feature Request => describe it, potential solution if you have one, are you able to help with a PR a

[2016-04-05 20:23] jaumard opened #129 "Protocol Buffers compatibility"
It can be nice to have REST API compatible https://developers.google.com/protocol-buffers/ in order to save bandwidth.

If we want to see more than protobuf we can think of a way to _transform_ API response into another protocol then JSON (eg XML, Protobuf, CSV...). I think this possibility will give to Trails something more than other frameworks.

[2016-04-05 21:18] tjwebb commented on #129
No node.js support? :(

Yea, in general, it would be good to build a trailpack with the ability to transform responses. That's one thing that Sails currently is not very good at. Assuming JSON is the default response, a trailpack could intercept the response and transform it to XML or whatever. Makes sense to me.

[2016-04-05 21:25] jaumard commented on #129
@tjwebb that exactly what I want for Trails ! Sails is not the only one with this limitation. I did notice there no official implementation for node.js yet but there some alternative implementations, here is some :
https://www.npmjs.com/package/protocol-buffers
https://github.com/dcodeIO/ProtoBuf.js

[2016-04-05 22:12] tjwebb commented on #129
Yea, I think many frameworks don't have this capability, not just Sails :)

I know Grails can support at least json and xml, but I'm not aware of a plugin system that would allow many response formats. This would be pretty cool. The API could be defined in a trailpack that does content negotiation. I think this is a pretty good resource on how it works in Grails: http://grails.github.io/grails-doc

[2016-04-06 11:00] Nishchit14 opened #130 "Help needed: File upload examples for various size of file"
File uploading seems crucial part in many nodeJS frameworks. I have personally felt many difficulties with multer and skipper with sails.

People should have good command on handling file uploads so they can get surety and can move on nice framework with confidence.

Here i am suggesting some variations for file upload, i think it will help new comers.
1) Local file storage 100kb to 50mb with mult

[2016-04-06 11:09] Alaneor commented on #130
There's [Nodestream](https://github.com/nodestream/nodestream) *(disclaimer: I am the developer of that library).* The aim is to support file uploads/downloads to any file storage system. Currently these are supported:

- AWS S3
- Local disk
- Google Cloud Storage

You can use it as-is to upload files to which you already have access (ie. files you yourself generate or which you already have on yo

[2016-04-06 11:21] Alaneor commented on #128
Maybe it's too soon for this...? I can clearly see the benefit of this for projects where many issues are opened every day, but for now it would only get in the way. Just my opinion. :smile:

[2016-04-06 13:22] jaumard commented on #130
@Alaneor your module look good ! It can be nice to have a module base on it to have express4 mutlipart support

[2016-04-06 13:30] Alaneor commented on #130
Yup, writing something that integrates Express/Hapi and Nodestream in a usable manner (somewhat like Skipper does - just `req.file()` it and you get the stream) was a TODO for me, but I am still working on adding more adapters and transforms so that it's as much usable as possible.

Once that's done, writing a trailpack should be trivial.

[2016-04-06 19:46] jaumard commented on #117
This bug will be fix by :
https://github.com/trailsjs/trailpack-footprints/pull/6
And
https://github.com/trailsjs/generator-trails/pull/31 (depend on https://github.com/trailsjs/trails/pull/131)

[2016-04-06 19:49] jaumard commented on #130
@Alaneor would be cool if we can make something who work with hapi and express, this 2 web server work differently :/ as I can think of it will be complicated to make a trailpack.
For express skipper is only a middleware load by `app.use` where hapi use plugins.
But if I can help with this let me know ;)

[2016-04-06 19:58] jaumard commented on #128
@Alaneor I'm not agree with you, because when a project is at his beginning like this (close to first release) the project need some visibility (Twitter, FB, Github ect... are fine) but generally people who have problem search on SO first. So for me (and maybe only me ^^) it's important to say to users if it's a problem post it on stack overflow instead.
Like this we can create an SO community and

[2016-04-06 20:06] jaumard commented on #94
Little up here :) because I think it's important to prevent trailpacks fragmentation, some will work only with one ORM some others will work one WebServer only... not really good

[2016-04-06 20:09] jaumard commented on #76
Done for web.js here
https://github.com/trailsjs/trails/pull/131 and https://github.com/trailsjs/trailpack-hapi/pull/65

[2016-04-06 20:12] jaumard commented on #42
Classes are now used so I close this.

[2016-04-06 20:12] #42 closed

[2016-04-06 20:16] Alaneor commented on #128
You got me there. :)

[2016-04-06 21:07] Alaneor commented on #130
I still have some work to do on the core concepts and the surrounding plugins, so not planning on working on integration with frameworks anytime soon. If you feel like, have a go at it, that would be awesome! If you ever need some guidance, feel free to open an issue in the main repo, I'll be happy to help.

[2016-04-07 04:31] Nishchit14 commented on #130
:+1:
@Alaneor Nice job ... I will take a look

@jaumard  right now is there any solution ?  skipper works with trails ?

[2016-04-07 05:04] jaumard commented on #130
You can use any module you want but there nothing official for trails.
For example for express I use multer. Skipper have to work too but only with express

[2016-04-08 21:10] jaumard commented on #129
Look good to do contentNegotiation with `Accept` or `?format=xml` but how integrate this info Trails ?
Do you think a `trailpack-contentnegotiation` can do this job ?

The only way I see how implement this is to allow some `hooks` under web server trailpacks to allow footprints transformation before sending the data. The problem I see it's user controller can't use them easily...

Or add a method

[2016-04-08 21:25] jaumard commented on #129
Maybe there website are not up to date because on the repo I see there some JavaScript support :
https://github.com/google/protobuf/tree/master/js

[2016-04-10 01:45] konstantinzolotarev commented on #76
@tjwebb @jaumard Super. I'd like to merge it ASAP. because want to add adiitional property into hapi `config/web.js` file.

[2016-04-10 03:08] tjwebb commented on #130
Skipper is reliant on express3. Skipper is actually a fairly decent idea in theory, but its codebase is a sprawling mess with tons of issues. It's about 10x more complex than it needs to be. Moreover, it's essentially a glorified hack: it polls its own request at an interval until something that looks like a file appears. Then it tries to parse it and feed it into a steam. This is inefficient and

[2016-04-10 03:13] tjwebb commented on #128
I think templates are a great way to indicate to the user what kinds of information will be helpful in resolving their problem.

The template doesn't have to enforce anything. For example, I never, ever, want to do stuff like this: https://github.com/balderdashy/sails/issues/3670.

Verify "I am experiencing a concrete technical issue with Sails
Verify "I am not asking a question about how to use S

[2016-04-10 09:54] tjwebb opened #132 "docs should recommend against using "npm start" for production use"
see https://medium.com/@tjwebb/the-npm-start-default-uses-a-lot-of-ram-3e0d8ac0c6a1#.aqqu03syn

[2016-04-10 09:55] Alaneor commented on #132
Oh, definitely!

[2016-04-10 10:02] jaumard commented on #132
Sure ! I don't use npm start ^^ but didn't know about this :) thanks!

[2016-04-10 10:13] jaumard commented on #132
FYI @maissani

[2016-04-11 07:14] jaumard commented on #129
Here is my proposal for this functionalitiy :

We can use the `config/trailpack.js` to have something like this (for trailpack hapi/express...):
[code]
Now express can have a middleware (or hapi plugins) to parse and format datas into supported formats. Or `trails-controller` can have an utile methods to parse/format and each controllers can decide to use it or not...

Under a trailpacks who want

[2016-04-11 08:01] jaumard opened #133 "Repo's rights for contributors"
Some repos are not accessible for the "maintainers" team it can be nice to add them on it, here is fews :

trailpack-bootstrap
trailpack-auth
trailpack-footprints
trailpack-react
trails-controller
trails-service
trails-model
trails-policy
trailpack-mongoose
trailpack-knex
trailpack-webserver
trailpack-datastore
trailpack-autoreload
trailpack-bookshelf
trailpack-sequelize

Maybe you want to don't a

[2016-04-11 12:17] maissani commented on #132
Oh, i ll add this.
Thanks a lot

[2016-04-12 22:12] jamesjwarren commented on #35
Would be useful but definitly should be an add-on rather than 'baked-in'. Already a great node module for hal document formatting here: https://www.npmjs.com/package/hal

[2016-04-15 02:12] tjwebb opened #136 "need to quiet down greenkeeper"
I'm finding legit PRs are getting lost in the greenkeeper torrent. I need to look into configuring it so that it doesn't update quite so often.

[2016-04-15 02:15] tjwebb commented on #128
@Alaneor I just added some templates. I think they're not that intrusive, but I'd like your opinion as well since you were concerned about this.

[2016-04-15 05:48] #128 closed

[2016-04-15 09:59] Alaneor commented on #128
Okay, I must admit this is totally fine, especially compared to what Sails or other big projects use. I might even recommend extending it a bit with some info about how to obtain the versions (ie. `uname -a` on *nix systems to get system info, not sure what there is on Win).

As long as there is no trails-bot "policing" the issue tracker I think it will be all right. :) Thanks for this!

[2016-04-15 12:40] maissani commented on #132
It has been Fixed, checks the docs.

Best regards

[2016-04-15 15:27] jdell64 opened #138 "Tutorial Issue, routes?"
## Issue Description
I apologize if this is not the write way to report this.

Watching what I think is a video by you guys (https://www.youtube.com/watch?v=AbSp8jqFDAY) I am not able to get a response from the GET request to /api/v1/user:
[code]

To recreate this, I created a new project, installed the latest generator-waterline (alpha-6, prior versions don't seem to work anymore), and added `req

[2016-04-15 17:21] jdell64 commented on #138
In the 1 hour video (a talk at Michigan), Travis mentioned that you could get rid of the default info route from the `routes.js` file. Tried this, and got the same 404 as before.

How does trails automatically generate routes for a controller?

[2016-04-15 18:10] jaumard commented on #138
@jdell64 the api change since this video, now you need to install `trailpack-footprints` in order to have automatic generate routes and enable footprints.

[2016-04-15 18:32] jdell64 commented on #138
Thanks! how modular of you.

any good view trailpacks you can recommend?

[2016-04-15 19:12] jaumard commented on #138
You're welcome :) do you mean a trailpack for views (jade, ejs...) ? There none for this because it's integrate with the webserver. All you need to do is configure `config/views.js` for express or for hapi look here https://github.com/trailsjs/trailpack-hapi

[2016-04-15 21:26] tjwebb opened #139 "get rid of trailsrc"
## Issue Description
trailsrc is redundant. solve this by using a `env/local.js` config file only.

[2016-04-16 05:03] tjwebb opened #140 "consider removing the "issue stats" badge"
The link is dead about 25% of the time I load the github repo.

<img width="354" alt="screen shot 2016-04-16 at 1 02 57 am" src="https://cloud.githubusercontent.com/assets/1009114/14579225/066abd68-036f-11e6-8668-04b74f6659a3.png">

[2016-04-16 05:04] tjwebb commented on #86
@RaedsLab closing until more information is provided.

[2016-04-16 05:04] #86 closed

[2016-04-16 05:05] tjwebb commented on #3
This functionality will be provided by the webserver trailpacks. Trails will have no opinion on which view engine you use.

[2016-04-16 05:05] #3 closed

[2016-04-16 05:06] tjwebb commented on #15
@jonhargreaves @yejodido bump

[2016-04-16 16:12] jaumard commented on #102
@tjwebb I see you have put https://www.langa.io in production with Trails :D how did you fix this ? (if you did ^^)

[2016-04-16 18:08] scippio opened #143 "Basic info - View Engine"
I know it's small detail, but when I run Trails I se Swig function output in Trails Basic Info:
[code]

[2016-04-16 18:14] jaumard commented on #143
Can you try to change your `config/views.js` to `engine: 'swig'` to see if it's working please ?

[2016-04-16 18:56] scippio commented on #143
I'ts ok now :)
[code]
... and the application still works well :+1:

[2016-04-16 19:00] jaumard commented on #143
Nice !!!! :D because when I make trailpack-express4, this wasn't working, but I suppose it was because I install the trailpack with `npm link` and not `npm install`. @weyj4 have this problem too Trailpack. Thanks for the feedback on this.

[2016-04-16 22:16] tjwebb opened #144 "too many uncaughtException listeners in tests"
#### Issue Description
Unit tests occasionally fail because I'm starting up 10 trails instances, and process has 11 uncaughtException listeners.

[code]

[2016-04-16 23:56] tjwebb commented on #143
Thanks @jaumard for helping out. @scippio does this resolve your issue?

[2016-04-17 00:11] scippio commented on #143
Yes. You can close the issue or something... :)

[2016-04-17 00:49] #143 closed

[2016-04-17 01:18] tjwebb commented on #102
1. No I did not resolve this issue yet. The config is very simple, and I use environment vars: https://github.com/langateam/api.langa.io/blob/master/config/email.js#L1-L5

2. re: https://github.com/trailsjs/trails/issues/102#issuecomment-195080167

This code will be completely removed in #145. Along with #121, I think this code is no longer relevant. (thanks @Alaneor)

3. Merging functions is like

[2016-04-17 12:12] jaumard commented on #93
Now `web.js` is included in each web server trailpack
https://github.com/trailsjs/trailpack-express4/blob/master/archetype/config/web.js
and
https://github.com/trailsjs/trailpack-hapi/blob/master/archetype/config/web.js

[2016-04-17 12:13] jaumard commented on #112
@tjwebb do you have any news on this ? How can we use this tool ? Did find anything on this...

[2016-04-17 15:34] scippio commented on #37
It's very important feature! ... I think we can imspired in [named-routes](https://www.npmjs.com/package/named-routes) module.

But I don't know where is the right place for connecting to server/controller/view etc...  We can add field to route def:
In trailpack-router/lib/schemas/route.js:
[code]

It's specific for server type so next step will be for example in the trailpack-express4 ... ?

[2016-04-17 19:09] tjwebb commented on #105
@AndreCapelache check out the [**Autoreload**](https://github.com/trailsjs/trailpack-autoreload) Trailpack.

[2016-04-17 19:09] #105 closed

[2016-04-17 19:20] AndreCapelache commented on #105
Thanks

[2016-04-17 20:59] Alaneor commented on #124
Just found [nconf](https://github.com/indexzero/nconf) and I must say I would rather use that instead of my attempt to reinvent the wheel in #126. Their API looks the same as the one proposed here. They even claim to support Redis for storing/retrieving configuration. I would really love to see support for loading configuration from a remote location, that should make Trails attractive for deploym

[2016-04-17 22:37] #111 closed

[2016-04-17 22:37] #144 closed

[2016-04-18 04:31] tjwebb commented on #140
Just saw it dead on the npm page again today. Removing.

[2016-04-18 05:34] #140 closed

[2016-04-18 05:53] tjwebb commented on #102
The logic in the trailpack project is only merging the environment configs for the trailpacks, not the application :)  So configs set in places that are not trailpack-specific (e.g., main.js) are not merged correctly.

Fix is in progress.

[2016-04-18 06:35] tjwebb opened #147 "validate that config.env cannot itself contain an env property"
#### Issue Description
Trails behavior for when the user sets an `env` property inside the environment-specifc configs (in config/env/<something>) is undefined. The config validator should explicitly disallow this.

#### Environment
- node version: all
- trails version: 1.0-beta
- operating system: all

[2016-04-18 08:35] jaumard commented on #37
Hapi already allow you to give name to your routes with `id` field  (@scippio `name` field is not allowed by Hapi), Express allow any field under his route configuration so it can also use `id`.
So I think it's possible to implement without to much modifications...
Only thing that can be tricky is this (from hapi's doc) :

[2016-04-18 08:49] jaumard commented on #117
Now it have to work correctly. Both fixes are under npm.

[2016-04-18 08:52] jaumard commented on #109
Maybe this can resolved by my proposal for Trailpack hooks here : https://github.com/trailsjs/trails/issues/129#issuecomment-208194308

[2016-04-18 08:55] jaumard commented on #76
Closing this because PRs was merged.

[2016-04-18 08:55] #76 closed

[2016-04-18 13:15] jdell64 commented on #138
I'll take a look. This is a bit confusing for me since I came from Rails (and I was a beginner at that). The front end and back end seemed to be integrated with that. Even with Sails, there was some integration with front end.

I understand and agree with the design choices that Trails has made being so modular, but if I want to put a front-end on my api, what would you use? It sounds like I need

[2016-04-18 13:30] jaumard commented on #138
@jdell64 you don't need another server at all for your front end. Trails can be use to serve views/assets as well as backend API.
If you need a TaskRunner to build your assets (SASS/LESS, Typescript, uglify...) you have currently 2 choices : Webpack or Gulp (https://github.com/trailsjs/trailpack-webpack or https://github.com/YannBertrand/trailpack-gulp).

To choose your template engine for your vi

[2016-04-18 13:39] jdell64 commented on #138
Your English is fine, I appreciate your help. I look forward to your example.

[2016-04-18 14:00] jdell64 commented on #138
Just got the new beta-1 update... LOVE the question of do you want ORM and do you want footprints. reminds me of https://github.com/RailsApps/rails-composer

[2016-04-18 14:32] jaumard commented on #138
@jdell64 I just see I already to one example here https://github.com/jaumard/trails-example-express-gulp :) dependencies are not up to date but it can be a start and when I can I'll update it.

For your error do you have a `config/web.js` file ? With an attribut `port`

[2016-04-18 14:42] jdell64 opened #149 "port is required"
#### Issue Description
I was running alpha-5, updated to beta-1

    Update available: 1.0.0-beta-1 (current: 1.0.0-alpha-5)

Created a new app `yo trails`:

[code]

`npm start` gives me errors (added a line in sample_app/node_modules/trailpack-hapi/lib/validator.js for more visibility):

[code]

#### Environment
- node version: 5.10.1
- trails version: 1.0.0-beta-1
- operating system: Linux Ubunt

[2016-04-18 14:42] jaumard commented on #138
@jdell64 I reproduce the problem, you have to add `config/web.js` under `config/index.js`, it's a bug I will add it on the right repo. Thanks

[2016-04-18 14:43] jdell64 commented on #138
oh sorry, i reported it under a new bug (149)

[2016-04-18 14:51] jaumard commented on #149
@jdell64 I reproduce the problem, you have to add `exports.web = require('./web')` under `config/index.js`
Thanks for the report.

[2016-04-18 15:01] jdell64 commented on #149
Yes, but I'll also add that it doesn't look like the `web.js` file is generated either. In addition to that `exports` line, you may want to check that as well.

[2016-04-18 15:03] jaumard commented on #149
I just make the test and web.js was present I just add it to index.js and all works. I will check this.

[2016-04-18 19:16] jdell64 commented on #138
If you build a new app, create the web.js file (confirmed it is not created currently), add the require line to config/index.js, and npm start the application, you make calls to the `api/v1/default/info` path and get good responses:

[code]

You cannot, however, make a request of /api/v1/user and get a good response (500 status code):

[code]

[2016-04-18 19:22] jaumard commented on #138
@jdell64 you're right I open two bug for this https://github.com/trailsjs/trailpack-hapi/issues/76 and here https://github.com/trailsjs/generator-trails/issues/37 to quick fix this footprints.js need to also be added under index.js

[2016-04-18 19:22] jdell64 commented on #138
Thanks!

[2016-04-18 19:36] jdell64 commented on #138
I may have figured it out... it is ignoring the prefix now (not sure if intended).

`http://localhost:3000/user` works

`http://localhost:3000/api/v1/user` (the oldway) does not work

[2016-04-18 19:38] jaumard commented on #138
Normally this bug was solved check generator install the last version of `trailpack-footprints` if it's the case don't hesitate to create a new issue on `trailpack-footprints`  repo

[2016-04-18 19:48] jdell64 commented on #138
I have the most recent version. [Created a new bug](https://github.com/trailsjs/trailpack-footprints/issues/8).

[2016-04-18 20:46] tjwebb opened #150 "cache process.env"
#### Issue Description
`process.env` results in an OS call for every access, and can be very slow if called on every request to check environment for some reason. Typical usage should recommend that `process.env` be only used in the configs (i.e. in the filers under `config/`) but there could be scenarios where a user may want to access it directly.

Caching it would also allow the system to throw

[2016-04-18 21:18] tjwebb commented on #139
@jaumard this used to be here, but I can't find it in trails or generator-trails. Did we already remove it?

[2016-04-18 21:22] jaumard commented on #139
lol I just remove it from generator-trails but it's on a pending PR.
For trails it's just here https://github.com/trailsjs/trails/blob/master/archetype/.trailsrc

[2016-04-18 21:45] tjwebb opened #151 "disallow modification of config during runtime"
#### Issue Description
- modifying the `config` object should not be allowed past the trailpack `config` lifecycle phase

#### Environment
- node version: all
- trails version: all
- operating system: all

[2016-04-18 23:21] tjwebb opened #153 "integration test against all trailpacks under "trailsjs" org"
#### Issue Description
the CI build should test all core trailpacks in each trails build

#### Environment
- node version: n/a
- trails version: n/a
- operating system: n/a

[2016-04-18 23:22] tjwebb commented on #153
probably I'll implement this in `smokesignals`

[2016-04-19 07:00] nimir commented on #149
Same here, `config/web.js` was not generated by yeoman.

###Environment
- Node v: 4.4.3
- Trails v: 1.0.0-beta-1
- Operating System: Ubuntu 14.04 64

[2016-04-19 10:52] jaumard opened #154 "Cannot find module 'lodash'"
#### Issue Description
Under the DefaultService (https://github.com/trailsjs/trails/blob/master/archetype/api/services/DefaultService.js#L3) lodash is require, but it's not under the `package.json` so there an error :

[code]

#### Environment
- node version: 4.4.2
- trails version: beta8
- operating system: OSX

[2016-04-19 13:35] jdell64 commented on #149
@nimir do this for a work around:

1. create `config/web.js` with the following content:

[code]
2. Add the following line to `config/index.js`:
[code]

[2016-04-19 21:25] #153 closed

[2016-04-20 02:51] tjwebb commented on #154
Ah, oops. We need to just remove DefaultService and DefaultController. I think there's an open issue for this somewhere

[2016-04-20 06:37] nimir commented on #149
thanks for the work around @jdell64 yes did that by comparing to https://github.com/trailsjs/trails-example-app and everything went smooth from there :smiley:

I hope i am not stepping out of my limits but this bug as simple as it looks is very critical since a newbie to trails will get disappointed when he/she follows steps and gets an error running the server!

I am very new to trails but tried

[2016-04-20 11:41] jaumard commented on #89
@tjwebb: are you ok if I create a repo `trailpack-controller` `trailpack-policy` (maybe trails-standard is better ?) to by like `trails-controller` and `trails-policy` but for trailpacks ?

Related issue : https://github.com/trailsjs/trailpack-router/issues/47 who block me to continue this.

[2016-04-20 19:41] tjwebb commented on #149
@nimir thanks for researching this. We've been pushing a lot of updates to the beta versions in preparation for a 1.0 release by the end of the month, and it looks like some versions are out of sync. I will look into this and make sure it gets resolved today.

[2016-04-22 01:36] tjwebb opened #157 "add startup and shutdown timeouts"
#### Issue Description
The application should immediately exit if it is not able to start/stop in a pre-configured amount of time. This will keep the process from hanging forever in cases of incomplete startup/shutdown

#### Environment
- node version: all
- trails version: all
- operating system: all

[2016-04-22 04:55] tjwebb opened #158 "don't deep freeze required modules in the configuration object"
#### Issue Description
External modules loaded with `require()` should not be frozen.

#### Environment
- node version: all
- trails version: all
- operating system: all

[2016-04-23 03:17] #102 closed

[2016-04-23 03:17] #147 closed

[2016-04-23 05:05] kvindasAB commented on #149
+1.
Reproduced the issue on Mac ElCapitan, Node v4.4.3, Trails 1.0.0-beta-8

[2016-04-23 11:52] jaumard commented on #69
Anyone know sequelize ? I start a Trailpack for it but need some people to test if my integration with Trails is good relative to your sequelize usage.

[2016-04-23 16:47] tjwebb opened #159 "loglevel should be set to "info" on new applications"
#### Issue Description
the current setting of "debug" produces too much noise

#### Environment
- node version: all
- trails version: all
- operating system: all

[2016-04-23 16:54] tjwebb opened #160 "update CONTRIBUTING.md links"
#### Issue Description
I moved the github markdown templates into .github folder

[2016-04-23 18:52] #150 closed

[2016-04-23 18:52] #151 closed

[2016-04-24 09:59] jaumard commented on #160
There only one dead link :

`https://github.com/trailsjs/trails/blob/master/CONTRIBUTING.md#requesting-features`

But actually even with a good path the section doesn't exist yet

[2016-04-24 10:53] jaumard commented on #154
Be careful because if you remove the DefaultController and DefaultService you need to remove DefaultController on trailpack-hapi and trailpack-express4 or they will crash

[2016-04-25 05:20] #158 closed

[2016-04-25 05:21] #10 closed

[2016-04-25 11:36] jaumard commented on #157
Could be nice to have a timeout for Trailpack too, for example if you install `express4` without `router` the server wait until the end of time ^^ because `express4` wait for `router` event before start.

[2016-04-26 11:34] jaumard opened #163 "Trails should include a generator-trails test"
When a PR is made on Trails, it could be nice to have a unit test who test if the generator-trails generate a working project.

Like this if a file is removed or added the generator-trails can test if it able to generate a working project or not.

[2016-04-26 20:36] jaumard opened #164 "Node v6 issue"
#### Issue Description
There a problem on node v6 for sqlite3 build, travis.ci crash...
[code]

#### Environment
- node version: 6
- trails version: all
- operating system: all

[2016-04-27 06:52] tjwebb commented on #163
Cool, we should add that to the smokesignals ecosystem CI script: https://github.com/trailsjs/smokesignals/blob/master/bin/ci.js

[2016-04-27 11:05] jaumard opened #165 "Trails instrumenting in Production"
I just look this video :
https://www.youtube.com/watch?v=nvHxA7dYw0w

And I will be great if we can implement this for Trails :) it will be much easier to see/manage TCP/ Database times. and all the `app.log` will be less used

[2016-04-27 19:21] jaumard commented on #149
Normally this is fixed now :)

[2016-04-27 19:22] jaumard commented on #138
All have to work now :)

[2016-05-04 23:54] tjwebb opened #166 "Generating new app prints a warning about Jade"
#### Issue Description
[code]

#### Environment
- node version: all
- trails version: all
- operating system: all

[2016-05-05 04:37] tjwebb opened #167 "All Trails projects should now define Node 6 as a tested version in CI configs"

[2016-05-05 11:37] jaumard commented on #167
no node 6 ?

[2016-05-05 20:13] tjwebb opened #168 "Windows build fails on npm link"
#### Issue Description

The ecosystem tests fail on `npm link` in windows. I don't know why.

[code]

#### Environment
- node version: all
- trails version: all
- operating system: Windows (appveyor)

[2016-05-05 20:15] tjwebb commented on #168
I bet it's this, due to the forward slash: https://github.com/trailsjs/smokesignals/blob/master/lib/ecosystem.js#L80

[2016-05-05 20:21] tjwebb opened #169 "Generators should all run CI on Windows and OSX"
#### Issue Description

The following should set up AppVeyor

- [ ] generator-node
- [ ] generator-trails
- [ ] generator-trailpack

[2016-05-05 20:24] #168 closed

[2016-05-06 08:04] jaumard opened #173 "Fresh project crash"
#### Issue Description
Now under `config/database.js` the store is commented. And all database dependencies have been removed. If users follow the tutorial they now have an error.

[code]

The generator have to create a working project with a default database connection (sqlite is fine). All ORM have to embedded a `config/database.js` file with a default configuration. Another solution is to updat

[2016-05-06 13:58] jaumard commented on #173
Also here https://github.com/trailsjs/trails/blob/master/archetype/config/database.js#L31 the name is `sqlitedev` and here https://github.com/trailsjs/trails/blob/master/archetype/config/database.js#L39 `dev` is expected. For new user it can be disappointed

[2016-05-06 20:43] tjwebb commented on #173
Sorry about that, I'm still working on the generators. I'll try to clear this up tonight.

[2016-05-06 20:44] tjwebb opened #177 "TypeError: Cannot prevent extension of an object with external array elements"
#### Issue Description
Object.freeze on some arrays causes exception to be thrown:

[code]

Looks like possibly a v8 bug: https://bugs.chromium.org/p/v8/issues/detail?id=4460

#### Environment
- node version: 4.4.4
- trails version: master
- operating system: all?

[2016-05-06 21:04] tjwebb commented on #177
@jaumard your express trailpack helped me discover this issue, actually :)  Because `express` isn't in the application's package.json, the application isn't aware of express as an external dependency, and tries to freeze it. When it tries to freeze it, this occurs: https://travis-ci.org/trailsjs/trails/jobs/128392383#L1160

I'm making the config freeze more robust and more aware of these dependenc

[2016-05-07 19:34] jaumard commented on #173
@tjwebb no problem :) I rename the `sqlitedev` to `dev` on this PR https://github.com/trailsjs/trails/pull/161

[2016-05-07 23:11] jaumard commented on #177
Another error (crash) I just discovered, I'm working on an example project with Trails and Angular 2 but the freeze capabilities prevent my code to work because angular2 can't be `require` so I have this error :
[code]

The error come from here https://github.com/trailsjs/trails/blob/master/lib/trails.js#L119 when it try to do `require('angular2')`

[2016-05-07 23:24] jaumard commented on #177
Any way to force Trails to not freeze configuration ? maybe it can be useful during development... or like in this situation ^^

[2016-05-08 04:22] tjwebb commented on #177
You should be able to require anything. You mean this particular issue causes the require to not work? I've implemented a fix in #178, I'm just still working on getting the tests passing in all environments. It's taking awhile to get everything straight because it's an issue that only occurs in certain versions of v8.

fwiw, this issue is fixed in node 6.1: https://travis-ci.org/trailsjs/trails/jo

[2016-05-08 09:32] jaumard commented on #177
No angular2 is not 'requirable' at all, in any js files you can't do `require('angular2')` or you have ` Cannot find module 'angular2'`. It's another issue than this one but I put it here because it's related.

[2016-05-08 09:43] jaumard commented on #177
@tjwebb try it yourself when you can here https://github.com/jaumard/trails-express-gulp-angular-2 `npm i` and `npm start` you will see the problem.

[2016-05-08 12:34] jaumard commented on #177
I fix the problem like this :
[code]

[2016-05-08 17:01] #177 closed

[2016-05-08 17:02] tjwebb opened #179 "AppVeyor intermittently fails on the ecosystem CI tests"
- `npm link` fails

[2016-05-08 18:05] jaumard opened #180 "Freeze config for module unrequirable"
#### Issue Description
Module like `angular2` is not 'requirable' at all, in any js files you can't do require('angular2') or you have Cannot find module 'angular2'. It's another issue than this one but I put it here because it's related.

[code]
#### Environment
- node version: all
- trails version: all since freeze
- operating system: all

#### Possible fix
Here https://github.com/trailsjs/trail

[2016-05-08 20:15] tjwebb commented on #180
Taking a look now.

[2016-05-08 22:19] tjwebb commented on #113
Node 6 was released, so we have another 6 months to figure this out. Closing for now. Likely, this will become part of the ecosystem ci tests run by smokesignals.

[2016-05-08 22:19] #113 closed

[2016-05-09 04:46] tjwebb commented on #169
Setup via ecosystem ci tests: https://github.com/trailsjs/smokesignals/blob/master/lib/ecosystem.js#L10-L12

[2016-05-09 04:48] #179 closed

[2016-05-09 05:31] kaytrance opened #187 "Install specific version of trails using yeoman"
#### Issue Description
How can I install latest version of trailsjs using yeoman? The thing is that upon running `yo trails` 1.0.0-beta-1 is installed (according to package.json). So is there a way to install latest version of trails via yeoman?

#### Environment
- node version: 6.1.0
- trails version: 1.0.0-beta1
- operating system: Ubuntu 15.10

[2016-05-09 05:40] jaumard commented on #187
For now all dependencies are hardcoded here https://github.com/trailsjs/trails/blob/master/archetype/package.json#L12 to have the latest version you can run `npm update --save` after project is generated, for now they're no other way.

Also if you want to test Trails don't use node 6 because for now there some problems with sqlite3 installation on it.

[2016-05-09 06:10] kaytrance commented on #187
Thank you for quick response, @jaumard

[2016-05-09 06:10] #187 closed

[2016-05-09 17:28] tjwebb opened #188 "Ecosystem CI doesn't run on Windows"
#### Issue Description
`npm install` doesn't work. It's in the wrong directory, can't find the npm executable, something.

[code]

#### Environment
- node version: all
- trails version: latest
- operating system: Windows

[2016-05-09 18:28] tjwebb commented on #188
see https://github.com/nodejs/node-v0.x-archive/issues/2318

[2016-05-09 21:23] jaumard opened #189 "Footprint delete http request on multiple items"
#### Issue Description

As I see under all trailpacks, to remove multiple items you need to call url like `DELETE http://localhost:3000/api/v1/mymodel?name=test`

This will remove all items with name = test with works fine. But if you try something like :
`DELETE http://localhost:3000/api/v1/mymodel?isOk=true`
`DELETE http://localhost:3000/api/v1/mymodel?nbTodo=4`

None of this url will work becau

[2016-05-09 22:05] tjwebb commented on #189
Does this happen for every orm? With waterline, for instance, I believe it checks the schema and always tries to typecast the values to the correct type. This will be hard to do in general, because without knowing the expected type (as defined in the ORM), it's impossible to say whether `true` should be a Boolean or a String.

[2016-05-09 22:40] tjwebb commented on #188
another npm fix pending here: https://github.com/npm/npm/pull/12333

[2016-05-10 06:11] tjwebb commented on #188
Closing. Unresolved.

[2016-05-10 06:11] #188 closed

[2016-05-10 07:33] jaumard commented on #189
It's occurred when I use `sequelize` I will make some tests with Waterline too, if it's works with Waterline I suppose I will have to `checks the schema and always tries to typecast the values to the correct type` manually :/

[2016-05-10 09:16] jaumard commented on #189
@tjwebb I just test with Waterline and same result it doesn't parse fields so items are not deleted...

[2016-05-10 11:03] jaumard commented on #26
Here is a todo app base on the http://todomvc.com that use Trails and Angular 2
https://github.com/jaumard/trails-todo-app-angular2

[2016-05-10 16:41] tjwebb commented on #189
Weird, ok. I'll take a look. Unfortunately, this problem isn't solvable in general. We have to know the type in order to cast it properly. I'll check waterline to see if something is missing.

[2016-05-10 16:42] vellotis commented on #69
What about [Objection.js](http://vincit.github.io/objection.js)? It is build on top of Knex that is also used by Bookshelf.

[2016-05-10 16:42] #160 closed

[2016-05-10 16:55] jaumard commented on #189
I ask if the feature exist on sequelize. I think FootprintService can check `criteria` fields type with model schema and try to parse it with the correct type before making the request. Like this problem solved. It's not trivial but doable I think.

[2016-05-10 18:07] tjwebb commented on #189
It's different each time, though. The schema for knex, for example, is not so easy to get at programmatically: https://github.com/trailsjs/trailpack-knex/blob/master/test/app.js#L14-L17

[2016-05-10 18:15] jaumard commented on #189
I see... Another possible solution is to send data under the body instead of query. Like this nothing to do, just change FootprintController. Because I prefer send to the body rather than have a query that doesn't fully work. Sound like a big bug to me.

[2016-05-10 18:19] tjwebb commented on #189
I think this actually ties someone into the "unified orm" discussion that still needs to be hashed out. I'll give you a heads up though: for Trails 2.0, I'll argue that we should use GraphQL (https://github.com/graphql/graphql-js) as the central data modeling language, similar to how we use Hapi  route objects to glue together all the different web servers.

[2016-05-10 18:35] tjwebb commented on #167
I meant node 6, sorry :)

[2016-05-10 18:43] jaumard commented on #139
I think this can be close now @tjwebb

[2016-05-10 18:49] jaumard commented on #189
Yes and no, the power of Trails is to use frameworks that the user already know and don't have to learn new things, that's why ORM models definitions must have to be `native` (only trailpack model definitions need a unified definition) because if we use GraphQL (witch I don't know at all ^^) maybe some native feature will be lost... I will not debate more as we have to focus first on the v1 ^^ but

[2016-05-10 18:58] tjwebb opened #192 "remove duplicates from trailpack prerequisites"
#### Issue Description
If a trailpack config listens for a duplicate event (or, manually adds a system event like `trailpack:all:configured`) into the config, `after()` will listen for two occurrences of the event and the app will not load.

#### Environment
- node version: all
- trails version: all
- operating system: all

[2016-05-10 19:11] jaumard commented on #166
For `trailpack-express` it's done https://github.com/trailsjs/trailpack-express/blob/master/package.json#L55

[2016-05-10 20:58] weyj4 commented on #166
@tjwebb if this looks good you can merge
[https://github.com/trailsjs/trailpack-hapi/pull/102](https://github.com/trailsjs/trailpack-hapi/pull/102)

[2016-05-10 21:21] weyj4 commented on #166
What trailpack requires jade? I think that's coming from mocha?

[2016-05-10 21:29] #139 closed

[2016-05-10 22:19] tjwebb commented on #189
Users will never be forced to use GraphQL, or any other particular ORM technology. Just like now, users don't have to know Hapi in order to use Express4, even though under the hood, express is initialized from Hapi-style route objects.

We can apply the same concepts to the data layer that we used for the webservers. In Trails 2, we'll leverage graphql as the "common language" that's implemented u

[2016-05-10 22:20] tjwebb commented on #189
@jaumard maybe we should start another issue and continue the discussion there.

[2016-05-11 17:12] tjwebb commented on #10
Another facet to this: many of the errors that escaped were from promises. A workaround might be also to listen to `unhandledRejection` to catch these. Maybe we'll make these optional, or enabled only in `development` mode.

[2016-05-11 17:37] jaumard commented on #169
Eco ci doesn't work on windows as I understand. Maybe it's a good idea to set it manually like trails on appveyor ? At least generator-trails and generator-trailpack to be sure they work everywhere

[2016-05-11 18:59] tjwebb commented on #169
Yea, re-opened. The issue is actually with `npm`. It won't work until this is merged: https://github.com/npm/npm/pull/12333

[2016-05-12 06:45] jaumard commented on #154
I think this is fix now, when did you plan to publish a new version on NPM ? To unlock `generator-trails` and `trailpack-express` pending PR.

[2016-05-12 06:46] jaumard commented on #189
@tjwebb ho ok agree with this :) we can continue to talk ORM/Model here https://github.com/trailsjs/trails/issues/94 and Footprint delete here ^^

[2016-05-12 18:19] #24 closed

[2016-05-13 08:05] jaumard opened #194 "Have the possibility to use multiple ORM"
#### Issue Description
For now we can use only one ORM, when you use Waterline it's fine because it can do nosql and sql but if you don't want to use Waterline and need nosql **and** sql they are currently no solution.
Can be useful on some project to use `trailpack-mongoose` and `trailpack-knex` for example.
Maybe we can plan this for the v2 ?

#### Environment
- node version: all
- trails versio

[2016-05-13 09:44] jaumard commented on #164
Under node 6 last sqlite3 build but with warnings, under 6.1 doesn't build at all. https://github.com/mapbox/node-sqlite3/issues/648

[2016-05-13 10:08] jaumard opened #195 "Archetype package with last versions"
#### Issue Description
Currently modules version are hard coded here https://github.com/trailsjs/trails/blob/master/archetype/package.json#L9-L16v
Maybe we can replace all version by `latest`, like this the generator will always install last npm versions for all modules.

#### Environment
- node version: all
- trails version: all
- operating system: all

[2016-05-15 21:41] jaumard opened #196 "Too many sqlite3 dependencies"
#### Issue Description
Actually any Trailpack who have models and want to make unit test need to use sqlite3 adapter. Unfortunately sqlite3 is build from source witch can fail (example with node 6), and when it occur all Trailpack who depends on sqlite3 are freeze because travis is failing.

Maybe we can use (or fork) https://github.com/balderdashy/sails-disk and use it as adapter for Trailpack te

[2016-05-16 13:38] KevinNTH opened #197 "Unable to generate a Trails project with Yo"
#### Issue Description
**Unable to generate a Trails project with Yo.**
I just install `yo` and `generator-trails`. Then, I execute this command `yo trails`. I enter my options and nothing happens after the module name option.

![trails generator](https://cloud.githubusercontent.com/assets/1632391/15290941/d98dc518-1b7b-11e6-9b5c-874061c233f7.png)

#### Environment
- node version: v6.1.0
- trails

[2016-05-16 14:30] KevinNTH commented on #197
I just test with `node v4.4.4` and `npm v3.9.0` and this is still not working.

[2016-05-16 15:00] jaumard commented on #197
Thanks ! I will take a look ! :) Currently Trails v1.0 is out but some Trailpacks are not compatible yet and need to be updated. I'll keep you updated ;)

[2016-05-16 15:39] jaumard commented on #197
Don't know why under windows it freeze after module name if name already exist on npm repository. If it's not the process end without error after "Package keywords"  but nothing was generated...

![capture d écran 2016-05-16 a 17 37 14](https://cloud.githubusercontent.com/assets/2970449/15294532/ef5a2c36-1b8c-11e6-9c59-623a2d06bd5a.png)

Seems like the generator is not compatible with windows at a

[2016-05-16 15:49] jaumard commented on #197
Just some more tests, it appear to block on mac too with last `yo` (1.8.1). `yo@1.7.0` works fine.

[2016-05-16 17:06] jaumard commented on #196
Just try on few modules, `sails-disk` can be use directly and work great for unit test. Using it for `trailpack-express` and now no sqlite3 dependency anymore.

[2016-05-16 20:46] tjwebb commented on #194
I think the key to this is allowing stores to define which datastore provider they use. So if both waterline and knex are installed, we might define stores like so:

[code]

[2016-05-16 21:09] tjwebb commented on #195
This won't work when we need to manage multiple versions of Trails in the wild. e.g., `generator-trails` version 1.x.x should only install Trails 1.x, and `generator-trails` 2.x should install Trails 2.x. The user should be able to choose a generator version that matches the version they want to install.

[2016-05-16 21:12] tjwebb commented on #196
In development, we've run into too many issues with `sails-disk`. It's really crappy, and becomes really slow once you have more than a thousand rows or so. Also the semantics aren't true to the interface -- data types and validations aren't always enforced correctly.

I know there are a lot of issues with the sqlite3 adapter also, but this is mostly due to the recent node6 upgrade, and not really

[2016-05-16 21:13] tjwebb commented on #197
So this only happens after upgrading to `yo` 1.8.x?

[2016-05-16 21:34] jaumard commented on #197
@tjwebb in windows the generator just not works... on mac after upgrading in 1.8 there some problems. That's why I update `generator-node` but can't publish it on npm (travis fails).
I currently trying to make `generator-node` work on appveyor, maybe it will fix all windows problems also. But the current master should fix all mac problems

[2016-05-16 21:44] jaumard commented on #196
@tjwebb my point of view is to use `sails-disk` only for unit test (on trailpacks) so maybe it's enough for this task ? Because you will haven't many data and you control it.
I will never use `sails-disk` for a Trails project or something like this like in Sails (for the problems you mention). I happy with sqlite3 adapter that's not the issue.
I'm not a fan of sqlite3 for trailpacks mostly because

[2016-05-16 21:53] jaumard commented on #195
So the solution here is to update the archetype each time a new version of a dependency is release ?

Currently the generator install trailpacks (the ones no under the package.json) with @latest so it doesn't know if versions are compatible with the v1 or v2 of trails... It just install last version.
That's why I ask to put `latest` by default for now and we will see how we can handle this for the

[2016-05-16 22:03] jaumard commented on #194
@tjwebb really like this proposition ! Each `trailpack-datastore` need to take care of the `provider` field to ignore stores that are not under they concern.
They also need to don't initialize `app.orm` if it's already create to not override models from other orm.
But this can work very nicely ! And I think it's a cool feature to have in Trails :) have some relational DB and also a nosql DB for re

[2016-05-16 22:19] jaumard commented on #197
@tjwebb ok now `generator-node` is green on windows ! https://github.com/trailsjs/generator-node can you take a look to deploy it on npm ? I will continue to look `generator-trails` once the new `generator-node` is deploy. Thanks

[2016-05-17 08:53] KevinNTH commented on #197
Hi,

I just tried trails on my linux distribution.
When I generated the app with `yo trails` and my directory and module name is **trails**, the generator script loops.
Then, I try again with a different directory and module name **trails-test**, there is no problem.

Shall I open another issue for this ?

Anyway, I hope the problem on Windows will be fixed :D
Many thanks.

[2016-05-17 08:57] jaumard commented on #197
@KevinNTH no need another issue thanks ! I'm on it :D all should be fix with the next `generator-node` version for linux/mac, don't know for windows yet ^^
Keep you updated when the new version is out.

[2016-05-17 09:59] KevinNTH opened #198 "The localhost url with port should be printed with the "Basic Info""
Hi there,

I am a new comer to Trails. After executing for the first time `npm start`.
The localhost url with the port should be printed with the "Basic Info".
Indeed, I had no idea of what was the default port (which is 3000).

[2016-05-17 10:42] jaumard commented on #198
Welcome @KevinNTH ;)

Sound like a good idea to add the full url `http://localhost:3000` base on web config.
Before the default log level was debug, on it you have the port number but with info you're right you doesn't have it.

maybe we can add `Application started at http://localhost:3000` or just add `Application root : http://localhost:3000 `...

[2016-05-17 10:57] KevinNTH commented on #198
Yes something like that would be nice :)

Then, we will be able to ctrl+click and open the trails app into the browser !

[2016-05-17 14:10] jaumard commented on #197
@KevinNTH this is normally fix with `generator-trails@1.0.0` can you test please ? I also made a test with it on mac and windows and it was successful ! :D
Let us know :)

[2016-05-17 14:48] KevinNTH commented on #197
@jaumard thanks for your contribution !

... but... :P

On Linux, node v6.1.0 :
* mkdir trails ; cd trails
* yo trails

[code]
I update my generator, then execute `yo trails` again.

And I still block at the module name option (which I enter default value **trails**).

[2016-05-17 14:51] jaumard commented on #197
@KevinNTH ok thanks! I think this will be resolved by `generator-node` (I'm waiting the new version on npm) but v1.0.0 have now to work correctly now on windows (and mac/linux) (if the name is not already on `npm` or it will freeze). Can you confirm please ?

[2016-05-17 15:02] KevinNTH commented on #197
@jaumard : Yes, I understand now "if the module name is already on `npm` it will freeze".

On linux, the generator works !
I am going to try on Windows later and keep update you !

[2016-05-17 15:40] jaumard commented on #154
Fixed on last Trails version

[2016-05-17 15:40] #154 closed

[2016-05-17 15:40] jaumard commented on #164
Fixed on last versions

[2016-05-17 15:40] #164 closed

[2016-05-17 19:51] KevinNTH commented on #197
Ok, everything is fine on **Windows 10**, thanks a lot for the fix !!! I needed it :D

[2016-05-17 19:54] jaumard commented on #197
@KevinNTH thanks for the confirmation ! :D great so now we just need new `generator-node` to fix the freeze and it will be perfect. Little up @tjwebb if you can take a look at travisCI for `generator-node` :)

[2016-05-17 23:08] tjwebb commented on #198
Ah yea, I like this idea as well.

[2016-05-18 07:47] jaumard commented on #197
Thanks @tjwebb but now I have this problem when I try to npm install `generator-node` :
[code]
Any idea ?

[2016-05-18 10:02] jaumard commented on #197
@tjwebb related to this issu https://github.com/npm/npm/issues/5082
possible fix :
https://github.com/npm/npm/issues/5082#issuecomment-217996678
https://github.com/yeoman/yo/issues/437#issuecomment-219977426

[2016-05-18 11:52] jaumard commented on #197
@tjwebb I try to deploy from node 4 or 5 but same result... Same error but for a different submodule...

[2016-05-18 12:58] jaumard commented on #197
I deploy `generator-trails@1.0.1` who use the working `generator-node@1.0.14` for now until we figure how to deploy `generator-node` correctly on npm.

[2016-05-18 20:13] jaumard commented on #198
@wbprice take a look a this first :) https://github.com/trailsjs/trailpack-core/pull/53

[2016-05-18 20:29] wbprice commented on #198
[trailsjs/trailpack-core#53](https://github.com/trailsjs/trailpack-core/pull/53) was merged, which fixes this.

[2016-05-18 20:29] #198 closed

[2016-05-18 20:53] wbprice commented on #25
@jaumard is this closed by #92 ?

[2016-05-18 20:54] jaumard commented on #25
I think but that's mean that is not possible to use `this.app.log()` on Trails we have to use `this.app.log.debug()`

[2016-05-18 21:04] jaumard commented on #159
@wbprice this can be close :)

[2016-05-18 21:36] #159 closed

[2016-05-18 21:38] jaumard commented on #149
@wbprice this can be close

[2016-05-18 21:38] jaumard commented on #138
@wbprice this can be close

[2016-05-18 21:39] jaumard commented on #117
@wbprice this can be close

[2016-05-18 22:00] jaumard commented on #169
Done :) this can be close @tjwebb @wbprice

[2016-05-19 00:32] #117 closed

[2016-05-19 00:33] #169 closed

[2016-05-19 00:33] #138 closed

[2016-05-19 00:33] #149 closed

[2016-05-19 05:35] jaumard commented on #197
@KevinNTH normally now generator shouldn't freeze anymore if package already exist :) can you confirm ?

[2016-05-19 08:45] jaumard opened #200 "Environment config problem"
#### Issue Description
If I put this under `config/env/production.js` :

[code]

They are 2 problem :

- Trailpack repl was not disable, `trailpack` field config seems ignored
- Config are not override the default `config/*`, it's replace it, this means I loose every config I put for `config.web` witch is for dev and prod, all I want to do is change the port number but everything else is lost.

##

[2016-05-19 21:03] jaumard commented on #93
@tjwebb @wbprice I think this is done now :) can be close

[2016-05-19 23:22] tjwebb commented on #200
Is this still documented somewhere? I think this feature was never implemented. I still want it, though.

Crap, I bet this is happening here: https://github.com/trailsjs/trails/blob/master/lib/trails.js#L50. Right there, we really only want to merge the config sections that the Trails core knows about, which are only `main` and `log`.

We actually want to handle this here: https://github.com/trail

[2016-05-20 03:30] #93 closed

[2016-05-20 07:42] jaumard opened #201 "Add snyk to travisCI to search for vulnerabilities"
#### Issue Description

https://snyk.io
Can be nice to set up snyk to every Trails modules to scan for vulnerabilities. We can also add a badge on Readme.

snyk search for vulnerabilities on all dependencies. Doesn't take a lot of time to set up and can prevent some security vulnerabilities.
#### Environment
- node version: all
- trails version: all
- operating system: all

[2016-05-20 08:16] jaumard commented on #200
@tjwebb no not documented but it's on the archetype here:
https://github.com/trailsjs/trails/blob/master/archetype/config/env/production.js#L8 so I was thinking it works ^^

I understand so `envConfig ` should have only `main` and `log` and leave the rest. After this  https://github.com/trailsjs/trailpack/blob/master/lib/util.js#L43 will do his job I think but currently `pack.config.env` is never

[2016-05-20 16:02] #132 closed

[2016-05-20 18:02] jaumard commented on #194
On problem I see is currently each ORM trailpack embedded a `FootprintService` :/ one will be override by the other. We need to have only one `FootprintService` (maybe in `trailpack-datastore`) witch call the good `ORMFootprintService` depend of the `store.provider` of the model.
How does it sound @tjwebb ?

[2016-05-20 22:39] tjwebb commented on #201
Currently I'm using `nsp` to lookup known vulnerabilities. How does that compare to snyk?

[2016-05-21 02:14] tjwebb commented on #194
Yea, this was lazy design on my part. Instead of simply naming it `FootprintService`, it would be more flexible to create an abstract `FootprintService` class which other Footprint Service implementations could inherit from. Then a datastore trailpack could look for services which are *of type* FootprintService, but not *named* FootprintService.

[2016-05-21 09:08] jaumard commented on #201
Didn't know `nsp` ! Thanks I'll take a look ^^ `snyk` is in beta for now but sound promising, it allow to search modules vulnerabilities :  example : https://snyk.io/test/npm/sails/

That can be useful to look at this before adding a new dependencies. It also allow you to analyse a github repo. Allow some badges for the Readme.

Anyway `snyk` or `nsp` should set up with travisCI and vulnerably bad

[2016-05-21 11:19] jaumard commented on #19
@tjwebb I just take a look at what @Glavin001 does and it's a great work ! Something similar can be use for Trails. Here is my thought :

We can create a `TrailsModel` that use GraphQL definition to harmonize models definition (like we talk for https://github.com/trailsjs/trails/issues/189 and https://github.com/trailsjs/trails/issues/94).
This model have this methods :

- Create
- Find
- FindOne

[2016-05-21 12:38] jaumard commented on #166
We can't do anything about this as mocha is used by all trails modules ^^ and they doesn't seems close to upgrade to pug after reading the @weyj4 issue.

[2016-05-21 12:42] jaumard commented on #180
Look like it's fixed on the V1 :) thanks !

[2016-05-21 12:42] #180 closed

[2016-05-21 13:17] jaumard commented on #173
Here is what I do for sequelize :
- No defaultStore configured under `config.database`
- Under `validate` method just log a warning if no store was found
- Ignore every models if no store configured

Like this user have a working project and are warn about an ORM problems

[2016-05-21 15:50] tjwebb commented on #19
Sure, this is reasonable. Keep in mind, though, that routing the request once you have a `tenantId` is less than half of the problem. What if you need to route the request to a tenant based on more complex criteria? What if part of the graph straddles two tenants, and you need to set up permissioning for this?
For example, these are some scenarios that I've seen in the past that a solution would n

[2016-05-21 18:58] dennisdupont commented on #19
@tjwebb
Good points, this definitely can be more complex than it seems at first glance.  In fact we are working hard to support a legacy system that has similar complexities (although IMO it was over-engineered).

The original design defines a User as belonging to a Domain (terrible choice of naming, but generally persons from the same corporate entity).  Programs are the various instances of the

[2016-05-22 14:47] tiny-byte opened #202 "generator dependency missing. can't install"
#### Issue Description
I was trying to install trails, but says some dependency doesn't exist. how can I resolve this?
I am using node v6.1.0 on linux mint.
thanks in advance

Linux 3.13.0-37-generic
npm ERR! argv "/home/tinymint/node-versions/node-v6.1.0-linux-x64/bin/node" "/home/tinymint/node-versions/node-v6.1.0-linux-x64/bin/npm" "install" "-g" "generator-trails"
npm ERR! node v6.1.0
npm ERR!

[2016-05-22 15:52] jaumard commented on #202
Hum no problem normally https://travis-ci.org/trailsjs/generator-trails builds are all green.
Try to clean npm cache and try again. Let us know.

[2016-05-22 18:38] tiny-byte commented on #202
Looks like there was a problem with sinopia I was running, after disabling it, everything installed fine.
thanks

[2016-05-22 18:38] #202 closed

[2016-05-23 13:36] jaumard commented on #200
@tjwebb I just start a PR about this but don't understand why you want environment config merge here https://github.com/trailsjs/trailpack/blob/master/lib/util.js#L43 because actually this line don't merge trailpack environment config with user config but default trailpack config with environment config.

I will be more difficult to do here than do it https://github.com/trailsjs/trails/blob/master

[2016-05-23 14:15] jaumard commented on #200
Ok I have env config who is working with this PRs :
https://github.com/trailsjs/trails/pull/203
https://github.com/trailsjs/trailpack/pull/32

Let me know your thoughts @tjwebb :)

[2016-05-23 14:25] jaumard commented on #201
I just see that `nsp` is used by `snyk` under the hood and add more checks.
So it can be better to use snyk :)

Sources : http://blog.xebia.com/are-your-node-modules-secure/
https://twitter.com/fhemberger/status/687618488995811328

[2016-05-23 19:32] KevinNTH commented on #197
@jaumard : Yes I confirm ! Thanks et nice job !!!

[2016-05-24 13:21] tnunes opened #204 "Add tests suite environment initialisation to generator"
#### Issue Description
I generated a new project with `yo trails` and then proceeded to generate my first model with `yo trails:model user`, which generated the user model and a unit test for it.

It seems to me that the generator is missing some files, since I can't run the tests by default with `npm test`, so I added a `mocha.opts` to the test folder that is now picking up the test (by using `--

[2016-05-24 14:31] wbprice commented on #49
Did we decide what approach to take for this?

[2016-05-24 16:57] tnunes opened #205 "Update Github repository URL"
Github repository URL does not work.

It is currently http://www.trailsjs.io, which does not resolve. It should probably be updated to http://trailsjs.io :)

[2016-05-24 18:27] tjwebb commented on #49
My preference is for number 3, and it's the way I've started implementing other parts of the system. Inheritance is a natural way to define an interface and communicate which operations have been re-implemented.

[2016-05-24 18:32] tjwebb commented on #205
Whoops, I'll fix this. www should work. We updated DNS recently and I must have forgotten to setup the www record.

[2016-05-24 18:58] tjwebb commented on #205
Fixed. Thanks @tnunes

[2016-05-24 18:58] #205 closed

[2016-05-24 18:59] tjwebb commented on #204
Yes, there's a gap where tests are correctly included for each generated controller/service/etc, but the necessary bootstrap logic isn't there for the tests to run correctly.

[2016-05-24 19:00] tjwebb commented on #201
Ok cool. Removing `nsp` and using the snyk service will simplify some of the ecosystem test logic in smokesignals

[2016-05-24 19:06] tjwebb commented on #204
@tnunes If you're interested: [![Bountysource](https://api.bountysource.com/badge/issue?issue_id=34526924)](https://www.bountysource.com/issues/34526924-add-tests-suite-environment-initialisation-to-generator?utm_source=34526924&utm_medium=shield&utm_campaign=ISSUE_BADGE)

:)

[2016-05-25 07:20] jaumard commented on #49
@wbprice also 1 and 2 are already possible actually, we can define a custom FootprintController or (re)define a footprint route to a custom controller. 3 is not yet available but sound the most easy/natural to implement for end user.

[2016-05-25 09:26] tnunes commented on #204
@tjwebb Cool!

Will it be enough to add the necessary logic to `archetype/test/` in this repository or do you think we need changes to `generator-trails`?

[2016-05-25 09:30] jaumard commented on #204
@tnunes no you need to also update `generator-trails ` because for now it doesn't copy the `test` directory :) but it's 2 line of code to add ^^ these ones https://github.com/trailsjs/generator-trailpack/blob/master/src/app/steps/writing.js#L15-L16 lol

[2016-05-25 10:47] tnunes commented on #204
@jaumard thanks! Will look into this after work today ;)

[2016-05-25 19:33] tnunes opened #206 "Trails docs are not accessible"
When trying to browse the Trails docs, the server is returning 403.

e.g.: http://trailsjs.io/doc/config/database

[2016-05-25 20:04] tnunes commented on #204
Just submitted #207 and https://github.com/trailsjs/generator-trails/pull/56.

I can run my tests now ;)

[2016-05-26 14:49] jaumard commented on #206
@tnunes it's because there actually no documentation :D
there a start at https://github.com/trailsjs/trails-docs

[2016-05-26 17:18] jaumard opened #208 "Trails compilers support"
#### Issue Description
Actually it's not possible to write Trails files (api/config) with TypeScript or CoffeeScript format. A trailpack can't do it because when Trails start nothing was load (because they are no JS files, only .ts or .coffee).

In order to fix this we can create `trails-compiler` module witch need to be override by `trails-compiler-typescript` and `trails-compiler-coffee` ...

Th

[2016-05-26 17:40] Alaneor commented on #208
I know it has been a somewhat common practice to do this kind of on-the-fly compilation but honestly, in the long run it always causes more harm than it brings good to a project.

Coffeescript is not JavaScript, nor is TypeScript. You would not try to run a C program which compiles to assembly at runtime in production, not even while developing.

The fact that these languages compile to JavaScript

[2016-05-26 20:36] wbprice commented on #26
And a React + Redux version: https://github.com/trailsjs/trails-todo-app

[2016-05-27 02:58] tjwebb commented on #208
Mostly agree with @Alaneor with a minor clarification:

It's policy of the Trails team that trailpacks can be built however, in whatever language, as long as they conform to the provided `Trailpack` interface at the end of the day. If your trailpack requires compilation/transpilation, that's perfectly fine, as long as the user (developer) doesn't need to be concerned with these details.

This disc

[2016-05-27 06:52] jaumard commented on #208
Yes my current needs is : I want to use Angular 2 with server rendering, to do that hapi/express need to be configured with some Angular2 things, so Trails config/api need to be in Typescript as it's the default "language" for Angular 2.

So if Trails files need to be in typescript (like in my current needs) `trailpack-webpack`, `trailpack-gulp` `trailpack-typescript` become useless to me (they ca

[2016-05-27 08:25] maissani commented on #208
@jaumard ^^ Isomorphic trails-ng2 not for today ;)

[2016-05-27 08:29] Alaneor commented on #208
@jaumard TypeScript cannot be run directly as-is, it also requires compilation. Which means, eventually, even Angular 2 project with server-side rendering must ultimately be compiled down do JS. So the preferred way (performance- and memory-wise) would be to compile your project from TS down to JS before you even start it.

[2016-05-27 11:53] jaumard commented on #208
@Alaneor I know ^^ I currently test to create a Trails app in Typescript but when it's compiled into ES5 or ES6 it's not working at all when started :

ES5 :
[code]

ES6 :
[code]

The project is here https://github.com/jaumard/trails-angular2-isomorphic maybe more typescript expert can help here ^^

[2016-05-27 12:58] Alaneor commented on #208
Maybe try to set your compilation target to *es6*? It might be that classes are compiled down to some kind of generic object instead of a proper class.

Additionally, I saw some comments regarding this that you might additionally compile the sources twice - once from TS to JS (ES6) and then with Babel from ES6 to a nodejs-compatible variant of ES6 (ie. import statements to commonjs requires etc.).

[2016-05-27 14:16] jaumard commented on #208
@Alaneor yeah agree for ES5 but I try ES6 too (the second output log) :) and no luck too because typescript add `.default` to extends and `exports`... If I manually fix those Trails compiled project start fine ^^. Maybe I miss some options.
I will look into babel also to see the `nodes-compatible variant of ES6` but I'm new to typescript and babel so I'm fishing here lol but thanks for the tips th

[2016-05-27 14:30] Alaneor commented on #208
Aaah well the `.default` thing is actually the correct behaviour of ES6 modules, Babel won't help here. 😄

I have a feeling that when you do `export default class MyController {}` or similar, Trails will not understand this because it does not expect an ES6 module, just a good ol' CommonJS module. The main difference is that a CommonJS module can consist of anything - an object, a class, a functio

[2016-05-27 14:38] jaumard commented on #208
Hum I'm fucked ! lol Thanks for letting me know all of this ! Didn't know...
Just for the record here is my controller in TS :

[code]

Witch look like once compiled to :
[code]

Where I need :
[code]

[2016-05-27 15:10] Alaneor commented on #208
@jaumard You could, in your *.ts* file, assign the class directly to `module.exports` instead of using `export default`, but I dunno if that's legal in TypeScript...

It should fix that issue, though!

[2016-05-27 15:21] jaumard commented on #208
Clever :), in fact it fix half of the problem ^^ now compiled source look like this :

[code]
The `.default` on the extends is always present...

I come from the typings `.d.ts` file I create for `trails-controller` in order to TS to know about this module. It's look like :

[code]
Not possible to put `module.exports` here...

[2016-05-27 16:25] jaumard commented on #208
@tjwebb in order to be compatible with ES6 modules (and not be blocked in the future when ES6 module will be supported into node) can we refactoring `trails-controller`, `trails-model`, `trails-policy` and `trails-service` to export an object and not directly the class ?
It can be useful to have multiple class support to : example for `trails-controller` it can export a `DefaultController` and a `

[2016-05-27 19:53] jaumard commented on #208
Ok so I manage to make it work by playing with some typescript configuration, can't tell you really what fix it but now I can have a full fresh Trails project in TS and compile/run it. I think my way is not really fully typescript way because I don't use `import` but as @Alaneor `module.export` to _hack_ the `.default` problems.

For the curious https://github.com/jaumard/trails-angular2-isomorphi

[2016-05-28 12:41] tnunes commented on #204
@tjwebb can you please take a look at #207? Thanks!

[2016-05-28 16:02] jaumard commented on #208
I manage to find why it's working now, it's because I use the flag `noLib` for typescript compiler options witch mean that no verifications was done on the TS code, it just compile it to ES6. Witch is fine for unlock me for now but not a solution to use Trails in typescript. I think every Trails module should be modify to be compatible with ES6 module.

[2016-05-30 18:23] scott-wyatt commented on #49
I also agree with 3.  OOP is way more natural to someone switching languages and like @jaumard mentioned, 1 and 2 are technically already achievable.

[2016-05-31 00:57] #200 closed

[2016-05-31 00:58] tjwebb commented on #206
@tnunes those URLs are placeholders until we get the website deployed. The trails-docs repo is where the docs currently live.

[2016-05-31 21:34] jaumard commented on #201
Can be nice if smokesignals throw an exception by default on vulnerabilities; like this it will fail the local unit tests when we dev and we can fit it right away. With an option (trailpack options pass on app config) to ignore vulnerabilities in case they're no choice...

[2016-05-31 22:16] scott-wyatt commented on #97
Would it make sense for a trailpack-auth to require trailpack-sessions?

[2016-06-01 17:43] ycpatel813 opened #209 "when creating new project and try to start error Cannot find module 'colors'"
#### Issue Description
 Every time need to install colors after using yo tails
[code]
#### Environment
- node version: v4.4.4
- trails version: ^1.0.0-beta-1
- operating system: Window 7

[2016-06-01 17:45] jaumard commented on #209
Also append on linux and mac https://travis-ci.org/trailsjs/trails/jobs/134332346#L1055 but only on node v4
Thanks for the report !

[2016-06-02 09:20] tjwebb commented on #209
@ycpatel813 can you try installing npm3?

[2016-06-02 09:43] ycpatel813 commented on #209
@tjwebb i have installed npm3 still i face error
i give you more detail description
when i create new project using yo trails project is created successfully...
after then i try npm start i face this error.

after some debug i found trailpack-repl/node_modules/big-tree-cli/index.js require "colors".
for solve that error i use ``` npm install --save colors``` and all working fine.

[2016-06-05 19:36] tnunes commented on #204
@tjwebb can we merge the PRs and close this?

[2016-06-06 17:45] animedbz16 opened #210 "Issues on new install"
#### Issue Description

I've been following trails for a while since the sails fallout and glad to see you guys are at a 1.0.x release.

I wanted to give trails a shot since we are definitiely running into a lot of the issues with sails's active policy of not updating dependancies.

Not sure if this is the right repo, or if I should file under trails-generator, but I basically performed a global i

[2016-06-06 18:02] jaumard commented on #210
Hi,
Thanks for the report :)
For the update you can skip it by setting the `--skip-update` option. I think it's a yo things.

When you set the module name, the generator will search about it on `npm` to see if the module exist and let you know it already exist. Maybe here the proxy is not supported (not sure) but if you set a module name that doesn't exist on npm the generation should be fine (or

[2016-06-06 18:16] animedbz16 commented on #210
It seems that I get the same socket hang up even with my proxy environment set. I'll see if I can investigate this a bit futher and but will close this out since it doesnt seem to be an issue related to trails directly and is likely more to do with our corporate environment.

I know our proxy.has been a decent issue with getting thing to work properly since we also run our own internal CA so I am

[2016-06-06 18:16] #210 closed

[2016-06-06 21:37] jaumard commented on #209
@ycpatel813 can you test with the master branch please ? See if you have the same error

`npm i https://github.com/trailsjs/trailpack-repl`

[2016-06-07 12:44] ycpatel813 commented on #209
@tjwebb @jaumard  i have tested today with my friend pc which has linux os and its working fine in linux. so it may be my window problem but not sure.

[2016-06-07 12:46] jaumard commented on #209
@ycpatel813  No it's not, it crash on Node v4 on linux and mac too on Travis. Did you test with the master ? Better?

[2016-06-07 12:47] ycpatel813 commented on #209
yes i have tested with master branch also still same result..

[2016-06-07 12:57] jaumard commented on #209
ok thanks :) so I think best option is to add it on trailpack-repl dependencies... What do you think @tjwebb ? Don't understand why it's not installed because `big-tree-cli ` have `colors:"*"` on his dependencies...

[2016-06-08 10:53] ycpatel813 commented on #209
@jaumard today i tested with master branch error is resolved :+1:

[2016-06-08 12:19] jaumard commented on #209
@ycpatel813 thanks ! I publish a v1.0.8 of trailpack-repl so this should be fix now :)

[2016-06-10 14:05] maissani opened #212 "feature-request(chore/readme): Add the link of the documentation into the readme."
# FEATURE REQUEST : CHORE / README
## What's need to be done:
- [ ] Add a link to the documentation like following example.

## Example

## Resources

#### Documentation
- [TrailsDocs](https://github.com/trailsjs/trails-docs/)

#### Tutorials
- [Getting started](http://blog.jaumard.com/en/2016/01/05/getting-started-with-trails/)
- [Create a custom Trailpack](http://blog.jaumard.com/en/2016/01/06/c

[2016-06-10 14:13] maissani commented on #78
I am working on Anatomy & Concept & creating some videos about use cases.
There is a lot of work to be done, but i am pretty sure that i will try everything possible to break all the devel's barrier.

[2016-06-10 14:23] maissani commented on #165
+1

[2016-06-10 14:34] maissani commented on #212
Should fix this issue #206

[2016-06-14 17:32] scott-wyatt commented on #165
This is a cool video with some neat ideas.

[2016-06-22 09:26] ycpatel813 opened #213 "validate logger level"
#### Issue Description

[code]

  by mistake i wrote dubgu in logger level after that trails app did not start and did not respose any error message
  so it is useful that trails validate logger level
#### Environment
- node version: v4.4.4
- trails version: ^1.0.0-beta-1
- operating system: Window 7

[2016-06-22 13:48] jaumard commented on #213
We have to find a way to test/detect this... Because we can't validate the logger level because the logger can be any logger (not Winston) and then level will be not defined.

[2016-06-26 22:52] tjwebb commented on #213
Yea, this is hard. The `level` is being sent into Winston as an argument, and isn't directly accessible to the application.

[2016-06-29 14:53] jamesjwarren opened #214 "Session Config"
#### Issue Description
Trails doesn't seem to have sessions support out of the box, so why does `app.config.session` appear in a default generated app? What is its purpose?

#### Environment
- node version: 5.11.1
- trails version: 1.0.4
- operating system: OSX 10.11.5

[2016-07-01 17:45] jaumard opened #215 "Fixture on trailpack"
#### Issue Description
Actually all trailpacks do they're stuff on the `initialize` methods, witch is fine. But currently on my trailpack I need to create some fixture in database, I can't do it in the `initialize` because maybe the ORM is not ready yet...

So currently I'm doing this :

[code]

It does the job but it can be nice to doesn't start the server if fixture can't be loaded in DB, curren

[2016-07-02 21:14] jaumard commented on #215
@tjwebb does the `config/trailpack:lifecycle:initialize:listen` is implemented yet ? It's working but I don't know if I'm lucky or if it correctly wait the event :)

[2016-07-05 16:14] jaumard opened #216 "Footprints to controller false doesn't disable controllers"
#### Issue Description
There a merge problem on this, if you set `config.footprints.controllers:false` is doesn't work because on `trailpack-footprints` the default footprints options are :

[code]

Once config are merge the results is only the trailpack config :( any way to fix this ?

#### Environment
- node version: all
- trails version: all
- operating system: all

[2016-07-05 17:30] scott-wyatt opened #217 "Documentation Proposal for Trailpacks that deal with models"
#### Issue Description

Documentation Proposal

A tremendous difference between Trails and let's say Sails, is the ability to use many different ORMs. That said, I would like to propose that a guideline be added to trailpacks that deal with models.  They should list their supported ORMS like so:

| Repo | Build Status (edge) |
| --- | --- |
| [trailpack-waterline](https://github.com/trailsjs/trail

[2016-07-05 18:39] jaumard commented on #217
100% for it :) nice and clear ^^ love it
Same can be done for webserver support for now hapi and express but much more in future.

Also Trails at the end have to provide a way to have unified API for Trailpacks I already do my proposal for policies/controllers on trailpack-controller and trailpack-polcies. trailpack-model have to be discuss too but @tjwebb mention that the common interface for mod

[2016-07-05 22:15] cesar2064 opened #218 "Unable to start the application with pm2"
#### Issue Description
I am starting the application via pm2, with the following command:
`pm2 start server.js -i 0`

The application is unable to start. I changed the log to debug mode and pm2 writes the following log:

[code]

#### Environment
- node version: 6.2.2
- trails version: 1.0.4
- operating system: Fedora 23

[2016-07-06 02:51] tjwebb commented on #218
Are you starting it in cluster mode? All the processes probably are trying to bind to the same port

[2016-07-06 03:11] cesar2064 commented on #218
Where can I change the app tobthe clusters mode?

[2016-07-06 03:25] cesar2064 commented on #218
Did you refer to pm2 multi process?

[2016-07-06 03:54] cesar2064 commented on #218
Yes, I started it in cluster mode.

[2016-07-06 09:18] maissani commented on #217
+1 I agree with that convention.

[2016-07-06 13:52] cesar2064 commented on #218
It is weird, because if I start raw express server, it works correctly in cluster mode with pm2.

[2016-07-06 15:33] cesar2064 commented on #218
I have no problems when I start the trails app whit a raw node cluster file.

[2016-07-16 23:34] jaumard commented on #209
Can be close @tjwebb @konstantinzolotarev :)

[2016-07-16 23:36] jaumard commented on #208
Closing this as we more (or less ^^) agree that task manager should be used to compile Trails before start it

[2016-07-16 23:36] #208 closed

[2016-07-16 23:36] jaumard commented on #197
Can be close @tjwebb @konstantinzolotarev :)

[2016-07-17 10:40] konstantinzolotarev commented on #209
Nice !

[2016-07-17 10:40] #209 closed

[2016-07-17 10:42] #197 closed

[2016-07-18 22:16] johntom opened #219 "yo trails"
-#### yo trails fails to user select express, only hapi gets installed. I installed  lastest  npm install -g yo generator-trails
####  Environment
- node version: 5.12.0 / npm 3.9.3
- trails version: 1.0.4
- operating system:  win10

[2016-07-18 23:17] johntom commented on #219
yo trials works fine with Node v6.3.0

[2016-07-22 15:58] scott-wyatt opened #220 "`trailmap-*` a proposal to load modules before trails initiates."
#### Feature Request
In #208 @jaumard brings up the point that he would like to do operations before trails starts.  Right now, to do this means that you have to alter server.js, which is an "OK" solution.  The problem now is, every user who needs similar functionality will do it a different way causing fragmentation.  Then when a user shares their code, now the community is exposed to the fragmen

[2016-07-22 16:13] jaumard commented on #220
Something like :
[code]
Then pass this to `server.js` like this trails can calcul all lifecycle order like trailpacks and then run them.  Most of the code already exist and used for trailpacks so this can be pretty cool (and relatively easy to implement).

[2016-07-22 22:30] scott-wyatt commented on #192
I could probably start on this task if you point me in the right direction.

[2016-07-23 00:13] scott-wyatt commented on #18
This may be a handy resource for this discussion http://www.slant.co/versus/5082/5085/~yeoman_vs_slush Slant.co community still votes yeoman as the number 1 workflow wrapper (out of 79 people lol).

Personally, for the generation of trails apps, yo seems to work great and is easy to maintain, however, I can see people finding slush useful in their personal apps.

[2016-07-26 07:51] zechtz opened #221 "Cannot render view without a views manager configured"
I am trying to use ejs with trails but i keep on getting this error
**Cannot render view without a views manager configured**

Here's my `views.js`
[code]
`ViewController.js`
[code]
What could be the problem?

[2016-07-26 07:56] jaumard commented on #221
views.js should look like this:
[code]

[2016-07-26 08:47] zechtz commented on #221
Hey @jaumard **This is the error i am still getting**

![trails](https://cloud.githubusercontent.com/assets/5102513/17131487/58e3790c-5326-11e6-9129-16d254f22ff9.png)

**This is how my code looks using hapi**

![code](https://cloud.githubusercontent.com/assets/5102513/17131488/5bd78770-5326-11e6-8eb3-6677c6f501e5.png)

[2016-07-26 08:57] jaumard commented on #221
@zechtz I never used the hapi version but here is what I use for express https://github.com/jaumard/trails-example-express-gulp/blob/master/config/views.js#L7 and in fact `require` is not needed sorry.

I just check the README of trailpack-hapi and all is here : https://github.com/trailsjs/trailpack-hapi#view-config :)

or alternatively in `web.js` : https://github.com/trailsjs/trailpack-hapi#hapi

[2016-07-26 09:54] zechtz commented on #221
Thanks, let me just try it with express.

[2016-07-27 14:46] jaumard commented on #166
@tjwebb @weyj4 mocha v3 will move to pug :) and it will be publish in few days if all is ok https://github.com/mochajs/mocha/pull/2350

[2016-07-27 16:27] scott-wyatt commented on #220
Cool, so this looks like we have some traction.  @tjwebb could I get your input?

[2016-07-27 17:16] tjwebb commented on #220
It all depends on what you mean by this. when is "before", anyway? If you define trailmaps in the config, some part of Trails will still have to load. Are you mainly trying to guarantee that the trailmap runs before all other trailpacks, including trailpack-core?

This is already *sort of* possible by writing the necessary logic inside of the trailpack constructor. These constructors are instantia

[2016-07-27 17:18] tjwebb commented on #221
@weyj4 do you have any ideas on this?

[2016-07-27 18:07] scott-wyatt commented on #220
Yes, you understand the question.  I actually didn't realize that `new Pack` happens before `.start()` was invoked, so I will have to play around with that and report back.  If that works for these use cases, then we shouldn't create a new paradigm.
The case where I can see this being useful outside of the constructors are for things like compiling. I know it sounds a bit crazy, but if I wanted to

[2016-07-28 07:04] sirtobey commented on #43
Is there any update towards this? :)

[2016-08-02 17:13] swarthy commented on #216
As temp workaround
config/footprints.js
[code]

[2016-08-02 20:28] jaumard commented on #220
We can add another function into trailpack `preboot()` that return a promise and when all promise are executed the `start` is called. Look clean to me.

[2016-08-05 17:52] Kennyomg opened #222 "Trails silently fail when run with docker"
#### Issue Description
I use trailpack-sequelize and trailpack-express v5 (chosen during setup) and using a mysql database.
I can run my project without docker and it just works as expected, but when I build an image in docker and try to run it, it just fails without error after express::Initialized then unloads the trailpacks and quits.
I think it fails during the initialization of trailpack-sequ

[2016-08-05 17:57] jaumard commented on #222
Hi @Kennyomg, I never use Trails and docker together but this kind of error look similar to the one some have with deploying on heroku, they had to disable the `trailpack-repl` in order to deploy correctly on heroku. Maybe you can try this.

Also don't hesitate to update your trails version as the current version is `1.0.4`.

[2016-08-14 18:17] diturriza commented on #49
Hello, I've tried to apply the 3 way but I can not override the method.
Simply run the original method. This is my code.

[code]

[2016-08-16 08:12] gliwka commented on #222
@Kennyomg, disabling trailpack-repl does the job.

Best,
Matthias

[2016-08-16 10:37] Kennyomg commented on #222
Thanks, works like a charm

[2016-08-16 11:02] jaumard commented on #222
@maissani we should add a section on documentation about this :) heroku, docker or other services like this need to have repl disabled

[2016-08-16 13:46] gliwka commented on #222
How about a change in trailpack-repl to add a check, if it's a real terminal or just a redirect (heroku, docker)?

Should be as easy as:
`if (process.stdout.isTTY)) {
  console.log('Direct TTY access, we can do REPL!');
}
else {
  console.log('No REPL');
}`

[2016-08-16 13:49] jaumard commented on #222
Did you test this? If it's works yeah it could be something interesting to include I think!
@tjwebb thoughts?

[2016-08-16 14:09] gliwka commented on #222
Works like a charm, even in edge cases, i.e. using it with grep:

![image](https://cloud.githubusercontent.com/assets/4993665/17701872/d6435056-63cb-11e6-9d54-c4d2163eb99f.png)

[2016-08-16 14:30] jaumard commented on #222
Cool :) I'll try to make a PR with this
Thanks!

[2016-08-16 15:09] gliwka commented on #218
It looks like it's the same issue as in #222.
After removing the trailpack-repl, trails starts up just fine with pm2.

@cesar2064 Can you confirm this?

[2016-08-16 15:11] gliwka commented on #222
This also fixed #218.

[2016-08-17 03:07] cesar2064 commented on #218
@gliwka I removed the trailpack-repl, and the application worked correctly with pm2.

[2016-08-17 06:38] jaumard commented on #166
mocha v3 is out we can migrate to this version and remove jade warning :)

[2016-08-17 14:02] scott-wyatt commented on #166
@jaumard fantastic job keeping on top of this!

[2016-08-19 13:26] jaumard opened #223 "Uniform ORM trailpack event"
#### Issue Description

Currently each trailpack ORM fired `trailpack:ormName:event` it would be nice for trailpacks that support multiple ORM to have a unified `trailpack:orm:event` fired by `trailpack-datastore`

Or allow to add in `config/trailpack.js` something like :

[code]

And if `trailpack:waterline` is not installed the entry is ignored (with a log warning).
#### Environment
- node versi

[2016-08-21 11:54] jaumard opened #225 "Camel Case trailpack names"
#### Issue Description
Currently all trailpack are named `trailpack-NAME` witch then become `NAME` into trails instance.
But if we name the trailpack something like `trailpack-NAME-COMPOSITE` then the name become `NAME-COMPOSITE` witch become more verbose to call.

I think we should transform trailpack names into camel case before loading them. Like this composite name will become `nameComposite`.

[2016-08-21 19:48] scott-wyatt commented on #225
I also ran into this issue with trailpack-js-data. So I would agree, but I would say to make it a setting like `format: [ki-ba-ab, camelCase, etc]`?

[2016-08-21 19:56] jaumard commented on #225
Set a config for this is too much I think, and it will be harder for trailpacks to depend on each other. A trailpack that would call a method from another will have to first look this settings to know how retrieve it... Or trails have to provide a `getTrailpack(npmName)` that do this job... Don't think it will worth the work ^^

[2016-08-21 22:30] scott-wyatt commented on #225
so `getTrailpack` should probably be able to handle any case then or something.

[2016-08-22 08:11] konstantinzolotarev commented on #223
@jaumard I'd suggest to add `trailpack:orm:event` into all orm trailpacks. I think it makes more sense than creating list of weird events in trails.

[2016-08-22 08:40] jaumard commented on #223
That's what I said, but in order to have multiple  ORM support in near futur it would be nice to keep the currents event also to know witch ORM fired events because `trailpack:orm:event` will be fired multiple times. Finally we just add `trailpack:orm:event` and didn't create anything weird right ?

[2016-08-22 11:50] konstantinzolotarev commented on #223
Totally agree.
For several ORMs - it wouldn't be default behavior. So decision will be on developer what orm event does he need.

[2016-08-22 13:29] scott-wyatt commented on #157
@tjwebb Close Issue?

[2016-08-22 13:30] scott-wyatt commented on #75
@tjwebb close discussion? (so we can close the milestone)

[2016-08-22 13:49] scott-wyatt commented on #220
Okay, so I think I have an elegant solution for this that won't change trails core, keep the spirit of trails, and won't create a paradigm shift.  `trailmap-*` will be it's own preboot that can be called with npm.  Eg.  `npm start` could run `trailmaps && node server`.  A `trailmap-*` will be structured like a trailpack and can run as a trailpack with the exception of a function called `preboot`.

[2016-09-01 06:57] sschimmel opened #226 "How to call logger?"
Question to the more experienced with Trails. How am I supposed to call the logger?

These options don't work when call from a controller:
- app.log --> undefined
- this.app.log --> undefined
- this.app.config.log --> not a function
- this.app.config.log.debug --> not a function

I'm using express 5.

[2016-09-01 07:44] jaumard commented on #226
From a controller (whatever web server you use) you can do :
- this.log.debug
- this.app.log.debug
- this.app.config.log.logger.debug

Work with warn, error, info... if you use the default winston logger that come with Trails.

[2016-09-01 15:37] scott-wyatt commented on #220
I've started this at <https://github.com/CaliStyle/trailmap> will continue discussion there if need be.

[2016-09-01 15:37] #220 closed

[2016-09-02 12:29] sschimmel commented on #226
Thank you, works like a charm.

[2016-09-02 12:29] #226 closed

[2016-09-06 12:53] sschimmel opened #227 "Database config does not work for environments"
#### Issue Description
I have a default config in config/database.js and a different config in config/env/testing.js. When I set the environment to testing the database configuration from testing.js is not used. When I remove the stores and models objects from database.js trails just does not detect any database configuration.

database.js:
[code]

testing.js:
[code]

#### Environment
- node versi

[2016-09-06 14:31] scott-wyatt commented on #215
@jaumard, i'm going through some older issues and wanted to know if this one is still a problem?

[2016-09-06 20:21] jaumard commented on #227
Hi,

What ORM did you use ? with the trailpack-ORM version please. Also check you set NODE_ENV to `testing`.
You also need the last version of trails here 1.0.0-beta-1 is not the last `1.0.4` is.

[2016-09-07 06:57] sschimmel commented on #227
Hi,

Manually updated to 1.0.4 as npm did not detect it, didn't help to solve the issue. The ORM I use is mongoose with version 0.4.1. of trailpack-mongoose.